{% extends 'normal/layout/homelayout.html' %}
{% load static %}
{% load call_method %}
{% block links %}

{% endblock links %}
{% block content %}
            <!-- Title Header Start -->
                <section class="inner-header-page">
                    <div class="container">

                        <h2>Hire The Expert Candidate</h2>
                        <p>Work with the world’s best talent on Upwork — the top freelancing website trusted by over 5 million businesses.</p>

                    </div>
                </section>
                <div class="clearfix"></div>
			<!-- Title Header End -->

			<!-- Accordion Design Start -->
			    <section class="accordion">
				<div class="container">

					<!-- search filter -->
					<div class="row extra-mrg">
						<div class="wrap-search-filter">
							<form>
								<div class="col-md-3 col-sm-3">
									<input type="text" class="form-control" placeholder="Anywhere...">
								</div>
								<div class="col-md-3 col-sm-3">
									<input type="text" class="form-control" placeholder="Keyword. Design, Seo..">
								</div>
								<div class="col-md-3 col-sm-3">
									<select class="form-control" id="j-category">
                                        <option selected disabled class="text-muted"> Choose Category</option>
										{% for category in categories %}
                                            <option value="{{ category.id }}">{{ category.category }}</option>
                                        {% endfor %}
									</select>

								</div>
								<div class="col-md-3 col-sm-3">
									<button type="submit" class="btn btn-primary full-width">Filter</button>
								</div>
							</form>
                            <p class="text-muted" style="padding: 20px;">({{ customers.count }}) Employee</p>
						</div>
					</div>
					<!-- search filter End -->

					<!-- Paid Candidate Start -->
					<div class="row">
                        {% for customer in customers %}
                            <div class="col-md-4 col-sm-6">
                            <div class="paid-candidate-container">
                                <div class="paid-candidate-box">
                                    <div class="dropdown">
                                        <div class="btn-group fl-right">
                                            {% if request.user|logged_in_company %}
                                            <button type="button" class="btn-trans" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-gear"></i></button>
                                            <div class="dropdown-menu pull-right animated flipInX"><a href="#">Shortlist</a><a href="#">Send Message</a><a href="#">Dislike</a></div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="paid-candidate-inner--box">
                                        <div class="paid-candidate-box-thumb"><img src="{{customer.profile_image.url}}" class="img-responsive img-circle" alt="" /></div>
                                        <div class="paid-candidate-box-detail">
                                            <h4 class="text-capitalize">{{customer.first_name}} {{customer.last_name}}</h4><span class="desination text-capitalize">{{customer.category.category}}</span></div>
                                    </div>
                                    <div class="paid-candidate-box-extra">
                                        <ul>
                                            {% for skill in customer.skillset %}
                                            <li>{{skill.skill}}</li>
                                            {% endfor %}
                                            {% if customer.skillcount %}
                                                <li class="more-skill bg-primary">+{{customer.skillcount}}</li>
                                            {% endif %}
                                        </ul>
                                        <p>{{customer.biography|truncatechars:67}}.</p>
                                    </div>
                                </div><a href="{% url 'LML:premium_employee_detail' customer.id %}" class="btn btn-paid-candidate bt-1">View Detail</a></div>
                        </div>
                        {% endfor %}

						<!-- Single Freelancer -->
						<div class="col-md-12 col-sm-12">
							<div class="text-center">
								<a href="#" class="btn btn-primary">Load More</a>
							</div>
						</div>

					</div>

				</div>
			</section>
			<!-- Accordion Design End -->
{% endblock content %}
{% block script %}

{% endblock script %}


