{% extends 'normal/layout/homelayout.html' %}
{% load static %}
{% load call_methods %}
{% block links %}
    <style>
        .customer{
            display: none;
        }


    </style>
    <script src="{% static 'assets/js/reconnecting-websockets.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'assets/css/chatpannel.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/messagelayoutcss.css' %}">

    <script src='//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script>
    <script src='//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script>
    <script src='//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script>
{#    <meta charset='UTF-8'>#}
{#    <meta name="robots" content="noindex">#}
    <link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />
    <link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" />
    <link rel="canonical" href="https://codepen.io/emilcarlsson/pen/ZOQZaV?limit=all&page=74&q=contact+" />
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>

<script src="https://use.typekit.net/hoy3lrg.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
{% endblock links %}
{% block search %}
        {% if request.user.is_authenticated %}
            {% if request.user|logged_in_company %}
                <li class="active" style="margin-right: 21px;" >
                    <input style="background-color: white; padding: 15px; border-radius: 20px;" type="text" class="form-control custom-button whitee" placeholder="Search">
                </li>
            {% endif %}
        {% endif %}
    {% endblock %}
{% block content %}
    <!-- Title Header Start -->
    <section class="inner-header-page " style="background-image:url({% static 'assets/img/banner-10.jpg' %}); color: White; ">
        <div class="container">

            <div class="col-md-8">
                <div class="left-side-container">
                    <div class="freelance-image"><a href="company-detail.html"><img src="{{company.logo.url}}" class="img-responsive " style="margin: 18px 0;" alt=""></a></div>
                    <div class="header-details">
                        <h4 style="color: white;">{{company.company_name|title}}</h4>
                        <p>{{ company.company_motto }}</p>
                        <ul>
                            {% if company.rank_status == "BASIC" %}
                                <li><div class="verified-action-success">{{company.rank_status|title}}</div></li>
                            {% endif %}
                            {% if company.rank_status == "PREMIUM" %}
                                <li><div class="verified-action-info">{{company.rank_status|title}}</div></li>
                            {% endif %}
                            {% if company.rank_status == "UNDEFINED" %}
                                <li><div class="verified-action-error">{{company.rank_status|title}}</div></li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 bl-1 br-gary">
                <div class="right-side-detail">
                    <ul>
                        <li><span class="detail-info">Experience</span>{{ company.id|company_experience_years }} </li>
                    </ul>
                    <ul class="social-info">
                        {% if social.facebook %}
                           <li> <a href="{{social.facebook}}"><i style="margin-right: 5px; font-size: 20px;" class="fab fa-linkedin"></i></a></li>
                        {% endif %}
                        {% if social.facebook %}
                           <li><a href="{{ social.facebook }}"><i style="margin-right: 5px; font-size: 20px;" class="fab fa-facebook"></i></a></li>
                        {% endif %}
                        {% if social.instagram %}
                           <li><a href="{{ social.instagram }}"><i style="margin-right: 5px; font-size: 20px;" class="fab fa-instagram"></i></a></li>
                        {% endif %}
                        {% if social.twitter %}
                           <li><a href="{{ social.twitter }}"><i style="margin-right: 5px; font-size: 20px;" class="fab fa-twitter-square"></i></a></li>
                        {% endif %}
                        {% if social.googlr_plus %}
                           <li><a href="{{ social.googlr_plus }}"><i style="margin-right: 5px; font-size: 20px;" class="fab fa-google-plus-square"></i></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>

        </div>
    </section>
    <div class="clearfix"></div>
			<!-- Title Header End -->



    <!-- ========== Begin: Brows job Category ===============  -->
    <section class="brows-job-category gray-bg">
        <div class="" style="padding: 60px 20px;">
             <!-- Sidebar Start -->
            <div class="col-md-3 col-sm-12">
                <div class="sidebar right-sidebar">
                   <div class="side-widget">
                        <h2 class="side-widget-title">ShortList</h2>
                        <div class="widget-text padd-0">
                            <ul>
                                <li><a href="{% url 'LML:employer_dash' %}">

                                    All Candidate
                                    <span class="pull-right">{{customers.count}}</span></a>
                                </li>
                                <li><a href="">

                                    Ultimate Candidate
                                    <span class="pull-right">0</span></a>
                                </li>
                                <li><a href="">

                                    Premium Candidate
                                    <span class="pull-right">0</span></a>
                                </li>
                                <li><a href="">

                                    Basic Candidate
                                    <span class="pull-right">0</span></a>
                                </li>
                            </ul>
                        </div>
                   </div>
                   <div class="side-widget">
                        <h2 class="side-widget-title">Messages <span class="badge badge-danger badge-pill">0</span></h2>
                        <div class="widget-text padd-0">
                            <ul>
                                <li><a href="{% url 'LML:employer_dash_message' %}">
                                    All Messages
                                    <span class="pull-right">0</span></a>
                                </li>
                            </ul>
                        </div>
                   </div>
                   <div class="side-widget">
                        <h2 class="side-widget-title">Subscription</h2>
                        <div class="widget-text padd-0">
                            <ul>
                                <li><a href="">

                                    Premium
                                    <span class="pull-right">0</span></a>
                                </li>
                            </ul>
                        </div>
                   </div>
                   <div class="side-widget">
                        <h2 class="side-widget-title">Payment</h2>
                        <div class="widget-text padd-0">
                            <ul>
                                <li><a href="">

                                    Payment History
                                    <span class="pull-right">0</span></a>
                                </li>
                            </ul>
                        </div>
                   </div>

                </div>
            </div>
            <!-- Sidebar End -->
            <div class="col-md-9 col-sm-12 " style="margin-bottom: 30px;">
                <div class="full-card">
                    <div class="card-header">
                        <div class="row mrg-0">

                            <div class="col-md-4 col-sm-4">
                                <ol class="breadcrumb pull-left">
                                    <li><a href="{% url 'LML:home' %}"><i class="fa fa-home"></i></a></li>
                                    <li>Shortlist</li>
                                    <li>All Candidates</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" style="padding-top: 0;">
                        <article class="advance-search-job" style="padding: 0;">
                            <div class="row no-mrg">
                                <div id="frame">
                                        <div id="sidepanel">
                                            <div id="profile">
                                                <div class="wrap">
                                                    <img id="profile-img" src="{{ company.logo.url }}" class="online" alt="" />
                                                    <p>{{company.company_name}}</p>
                                                    <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>

                                                    <div id="expanded">
                                                        <label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
                                                        <input id="twitter" name="twitter" type="text" value="mikeross" />
                                                    </div>
                                                </div>
                                            </div>
                                        <div id="search">
                                            <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
                                            <input type="text" placeholder="Search contacts..." />
                                        </div>
                                        <div id="contacts">
                                            <ul>
                                                {% for customer in customers %}
                                                    <li class="contact" >
                                                        <a data-toggle="collapse" href="#collapseExample{{ customer.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                                            <div class="wrap">
                                                                <span class="contact-status online"></span>
                                                                <img src="{{customer.customer.profile_image.url }}" alt="" />
                                                                <div class="meta">
                                                                    <p class="name">{{ customer.customer.first_name }}</p>
                                                                    <p class="preview">You just got LITT up, Mike.</p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                                <li class="contact active">
                                                    <div class="wrap">
                                                        <span class="contact-status busy"></span>
                                                        <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                                                        <div class="meta">
                                                            <p class="name">Harvey Specter</p>
                                                            <p class="preview">Wrong. You take the gun, or you pull out a bigger one. Or, you call their bluff. Or, you do any one of a hundred and forty six other things.</p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="bottom-bar">
                                            <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
                                            <button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
                                        </div>
                                    </div>
                                    {% for customer in customers %}
                                        <div class="collapse content {% if forloop.first %} show {% endif %}" id="collapseExample{{ customer.id }}">
                                            <div class="contact-profile">
                                                <img src="{{customer.customer.profile_image.url}}" alt="" />
                                                <p class="text-capitalize">{{customer.customer.first_name}} {{ customer.customer.last_name }}</p>
                                                <div class="social-media">
                                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                            <div class="messages" >
                                                <ul id="message{{ customer.customer.id}}">
                                                    <li class="sent">
                                                        <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
                                                        <p>How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!</p>
                                                    </li>
                                                    <li class="replies">
                                                        <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                                                        <p>When you're backed against the wall, break the god damn thing down.</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="message-input">
                                                <div class="wrap">
                                                <input type="text" id="chat-message-input{{ customer.customer.id }}" placeholder="Write your message..." />
                                                <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                                                <button class="submit" id="chat-message-submit{{ customer.customer.id }}"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <script>
                                            var roomName = {{ room_name_json }};
                                            var senderr = {{ request.user.id }};
                                            var reciever = {{ customer.customer.id }};

                                            var chatSocket = new ReconnectingWebSocket(
                                                'ws://' + window.location.host +
                                                '/ws/chat/' + roomName + '/');

                                            chatSocket.onmessage = function(e) {
                                                var data = JSON.parse(e.data);
                                                var message = data['message'];
                                                document.querySelector('#chat-log').value += (message + '\n');

                                                var msgListTag = document.createElement('li');
                                                var imgTag = document.createElement('img');
                                                var pTag = document.createElement('p');
                                                pTag.textContent = message.msg_content;
                                                imgTag.src = {{ company.logo.url }};

                                                if(sender === senderr){
                                                    msgListTag.className = 'sent';
                                                }else {
                                                    msgListTag.className = 'replies'
                                                }

                                                msgListTag.appendChild(imgTag);
                                                msgListTag.appendChild(pTag);
                                                document.querySelector('#message{{ customer.customer.id }}').appendChild(msgListTag);

                                                {#message = $(".message-input input").val();#}
                                                {#if($.trim(message) == '') {#}
                                                {#    return false;#}

                                                {#$('<li class="sent"><img src="http://emilcarlsson.se/assets/mikeross.png" alt="" /><p>' + message + '</p></li>').appendTo($('.messages ul'));#}
                                                {#$('.message-input input').val(null);#}
                                                {#$('.contact.active .preview').html('<span>You: </span>' + message);#}
                                                {#$(".messages").animate({ scrollTop: $(document).height() }, "fast");#}
                                            };

                                            chatSocket.onclose = function(e) {
                                                console.error('Chat socket closed unexpectedly');
                                            };

                                            document.querySelector('#chat-message-input').focus();
                                            document.querySelector('#chat-message-input').onkeyup = function(e) {
                                                if (e.keyCode === 13) {  // enter, return
                                                    document.querySelector('#chat-message-submit').click();
                                                }
                                            };

                                            document.querySelector('#chat-message-submit{{ customer.customer.id }}').onclick = function(e) {
                                                var messageInputDom = document.querySelector('#chat-message-input{{ customer.customer.id }}');
                                                var message = messageInputDom.value;
                                                chatSocket.send(JSON.stringify({
                                                    'message': message,
                                                    'command':'new_message',
                                                    'sender': senderr,
                                                    'reciever':reciever,
                                                }));

                                                messageInputDom.value = '';
                                            };
                                        </script>
                                    {% endfor %}
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <!-- Ad banner -->
                <div class="row">
                    <div class="ad-banner">
                        <img src="http://via.placeholder.com/728x90" class="img-responsive" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ========== Begin: Brows job Category End ===============  -->
{% endblock content %}
{% block script %}


    <script>
        $(function(){
            $(".customer").slice(0, 6).show(); // select the first ten
            $("#load").click(function(e){ // click event for load more
                e.preventDefault();
                $(".customer:hidden").slice(0, 6).show(); // select next 10 hidden divs and show them
                if($(".customer:hidden").length == 0){ // check if any hidden divs still exist
                    spinner.hide();
                    swal.fire({
                        title: "Error!",
                        text: "No more categories to load",
                        type: "error",
                        confirmButtonText: "Retry"
                    });
                }
            });
            $('a[href=#top]').click(function () {
                $('body,html').animate({
                    scrollTop: 0
                }, 600);
                return false;
            });

            $(window).scroll(function () {
                if ($(this).scrollTop() > 50) {
                    $('.totop a').fadeIn();
                } else {
                    $('.totop a').fadeOut();
                }
            });
        });
    </script>
{#    <script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>#}
    <script >
        $(".messages").animate(
            { scrollTop: $(document).height()
            }, "fast");

        $("#profile-img").click(function() {
            $("#status-options").toggleClass("active");
        });

        $(".expand-button").click(function() {
          $("#profile").toggleClass("expanded");
            $("#contacts").toggleClass("expanded");
        });

        $("#status-options ul li").click(function() {
            $("#profile-img").removeClass();
            $("#status-online").removeClass("active");
            $("#status-away").removeClass("active");
            $("#status-busy").removeClass("active");
            $("#status-offline").removeClass("active");
            $(this).addClass("active");

            if($("#status-online").hasClass("active")) {
                $("#profile-img").addClass("online");
            } else if ($("#status-away").hasClass("active")) {
                $("#profile-img").addClass("away");
            } else if ($("#status-busy").hasClass("active")) {
                $("#profile-img").addClass("busy");
            } else if ($("#status-offline").hasClass("active")) {
                $("#profile-img").addClass("offline");
            } else {
                $("#profile-img").removeClass();
            }

            $("#status-options").removeClass("active");
        });


    </script>




{% endblock script %}