{% extends 'normal/layout/homelayout.html' %}
{% load static %}
{% load call_methods %}
{% block links %}
    <style>
        .customer{
            display: none;
        }

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'assets/css/chatpannel.css' %}">
{% endblock links %}
{% block search %}
        {% if request.user.is_authenticated %}
            {% if request.user|logged_in_company %}
                <li class="active" style="margin-right: 21px;" >
                    <input style="background-color: white; padding: 15px; border-radius: 20px;" type="text" class="form-control custom-button whitee" placeholder="Search">
                </li>
            {% endif %}
        {% endif %}
    {% endblock %}
{% block content %}
    <!-- Title Header Start -->
    <section class="inner-header-page " style="background-image:url({% static 'assets/img/banner-10.jpg' %}); color: White; ">
        <div class="container">

            <div class="col-md-8">
                <div class="left-side-container">
                    <div class="freelance-image"><a href="company-detail.html"><img src="{{company.logo.url}}" class="img-responsive " style="margin: 18px 0;" alt=""></a></div>
                    <div class="header-details">
                        <h4 style="color: white;">{{company.company_name|title}}</h4>
                        <p>{{ company.company_motto }}</p>
                        <ul>
                            {% if company.rank_status == "BASIC" %}
                                <li><div class="verified-action-success">{{company.rank_status|title}}</div></li>
                            {% endif %}
                            {% if company.rank_status == "PREMIUM" %}
                                <li><div class="verified-action-info">{{company.rank_status|title}}</div></li>
                            {% endif %}
                            {% if company.rank_status == "UNDEFINED" %}
                                <li><div class="verified-action-error">{{company.rank_status|title}}</div></li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 bl-1 br-gary">
                <div class="right-side-detail">
                    <ul>
                        <li><span class="detail-info">Experience</span>{{ company.id|company_experience_years }} </li>
                    </ul>
                    <ul class="social-info">
                        {% if social.facebook %}
                           <li> <a href="{{social.facebook}}"><i style="margin-right: 5px; font-size: 20px;" class="fab fa-linkedin"></i></a></li>
                        {% endif %}
                        {% if social.facebook %}
                           <li><a href="{{ social.facebook }}"><i style="margin-right: 5px; font-size: 20px;" class="fab fa-facebook"></i></a></li>
                        {% endif %}
                        {% if social.instagram %}
                           <li><a href="{{ social.instagram }}"><i style="margin-right: 5px; font-size: 20px;" class="fab fa-instagram"></i></a></li>
                        {% endif %}
                        {% if social.twitter %}
                           <li><a href="{{ social.twitter }}"><i style="margin-right: 5px; font-size: 20px;" class="fab fa-twitter-square"></i></a></li>
                        {% endif %}
                        {% if social.googlr_plus %}
                           <li><a href="{{ social.googlr_plus }}"><i style="margin-right: 5px; font-size: 20px;" class="fab fa-google-plus-square"></i></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>

        </div>
    </section>
    <div class="clearfix"></div>
			<!-- Title Header End -->



    <!-- ========== Begin: Brows job Category ===============  -->
    <section class="brows-job-category gray-bg">
        <div class="" style="padding: 0 20px;">
             <!-- Sidebar Start -->
            <div class="col-md-3 col-sm-12">
                <div class="sidebar right-sidebar">
                   <div class="side-widget">
                        <h2 class="side-widget-title">ShortList</h2>
                        <div class="widget-text padd-0">
                            <ul>
                                <li><a href="{% url 'LML:employer_dash' %}">

                                    All Candidate
                                    <span class="pull-right">{{customers.count}}</span></a>
                                </li>
                                <li><a href="">

                                    Ultimate Candidate
                                    <span class="pull-right">0</span></a>
                                </li>
                                <li><a href="">

                                    Premium Candidate
                                    <span class="pull-right">0</span></a>
                                </li>
                                <li><a href="">

                                    Basic Candidate
                                    <span class="pull-right">0</span></a>
                                </li>
                            </ul>
                        </div>
                   </div>
                   <div class="side-widget">
                        <h2 class="side-widget-title">Messages <span class="badge badge-danger badge-pill">0</span></h2>
                        <div class="widget-text padd-0">
                            <ul>
                                <li><a href="{% url 'LML:employer_dash_message' request.user.username %}">
                                    All Messages
                                    <span class="pull-right">0</span></a>
                                </li>
                            </ul>
                        </div>
                   </div>
                   <div class="side-widget">
                        <h2 class="side-widget-title">Subscription</h2>
                        <div class="widget-text padd-0">
                            <ul>
                                <li><a href="">

                                    Premium
                                    <span class="pull-right">0</span></a>
                                </li>
                            </ul>
                        </div>
                   </div>
                   <div class="side-widget">
                        <h2 class="side-widget-title">Payment</h2>
                        <div class="widget-text padd-0">
                            <ul>
                                <li><a href="">

                                    Payment History
                                    <span class="pull-right">0</span></a>
                                </li>
                            </ul>
                        </div>
                   </div>

                </div>
            </div>
            <!-- Sidebar End -->
            <div class="col-md-9 col-sm-12 " style="margin-bottom: 30px;">
                <div class="full-card">

                    <div class="card-header">
                        <div class="row mrg-0">

                            <div class="col-md-4 col-sm-4">
                                <ol class="breadcrumb pull-left">
                                    <li><a href="{% url 'LML:home' %}"><i class="fa fa-home"></i></a></li>
                                    <li>Shortlist</li>
                                    <li>All Candidates</li>
                                </ol>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <article class="advance-search-job">
                            <div class="row no-mrg">
                                 {% for customer in customers %}
                                    <div class="col-md-4 col-sm-6 customer">
                                        <div class="paid-candidate-container">
                                            <div class="paid-candidate-box">
                                                <div class="dropdown">
                                                    <div class="btn-group fl-right">
                                                        {% if request.user|logged_in_company %}
                                                            <button type="button" class="btn-trans" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-gear"></i></button>
                                                            <div class="dropdown-menu pull-right animated flipInX">
                                                                {% csrf_token %}
                                                                {% if request|shortlisted:customer.customer.id %}
                                                                   <a onclick="shortlist(this);" data-employer="{{ request.user.id }}" id="{{ customer.customer.id }}" href="javascript:void(0)">Shortlist</a>
                                                                {% else %}
                                                                   <a onclick="shortlistmessage();" href="javascript:void(0)">Shortlisted</a>
                                                                {% endif %}
                                                                <a  data-toggle="modal"  data-target="#myModal{{ customer.id }}" id="kk{{ customer.id }}" href="#">Send Message</a>
                    {#                                            <a href="#">Dislike</a>#}
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="paid-candidate-inner--box">
                                                    <div class="paid-candidate-box-thumb"><img src="{{customer.customer.profile_image.url}}" class="img-responsive img-circle" alt="" /></div>
                                                    <div class="paid-candidate-box-detail">
                                                        <h4 class="text-capitalize">{{customer.customer.first_name}} {{customer.customer.last_name}}</h4>
                                                        <span class="desination text-capitalize">{{customer.customer.category.category}}</span></div>
                                                </div>
                                                <div class="paid-candidate-box-extra">
                                                    <ul>
                                                        {% for skill in customer.customer.skillset %}
                                                        <li>{{skill.skill}}</li>
                                                        {% endfor %}
                                                        {% if customer.skillcount %}
                                                            <li class="more-skill bg-primary">+{{customer.customer.skillcount}}</li>
                                                        {% endif %}
                                                    </ul>
                                                    <p>{{customer.customer.biography|truncatechars:67}}.</p>
                                                </div>
                                            </div>
                                            {% if request.user|logged_in_company %}
                                                <a href="{% url 'LML:premium_employee_detail' customer.customer.id %}" class="btn btn-paid-candidate bt-1">View Detail</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                 {% endfor %}
                            </div>
                        </article>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="text-center">
                                    <a id="load" href="#" class="btn btn-primary">Load More</a>
                                    <a href="#top" class="btn btn-primary">Back to top</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                {% for customer in customers  %}
                    <!-- The Chat Modal -->
                  <div class="modal fade" id="myModal{{ customer.id }}">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content" style="padding-bottom: 0;">
                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12" style="height: 400px;" >
                                    <div class="panel panel-primary" style="margin-bottom: 0;  border-color: #06d15b;">
                                        <div class="panel-heading "  style="background: #06d15b;">
                                            <span class="fa fa-comment"></span> {{customer.customer.first_name|title }} {{customer.customer.last_name|title }}
                                            <div class="btn-group pull-right" style="transform: translate(10px, -15px); color: white;">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                        </div>
                                        <div class="panel-body" id="msgdiv{{ customer.customer.id }}" style="height: 400px;">
                                            <ul class="chat" id="messagebox{{ customer.customer.id }}">
                                                 {% for  message in messages %}
                                                    <li class="{% if not sender == message.sender %} left {% else %} right {% endif %} clearfix">
                                                        <span class="chat-img {% if not message.sender == sender %} pull-left {% else %} pull-right {% endif %}">
                                                            {% if not message.sender == sender %}
                                                                <img src="{{ message.company_message_to_customer.logo.url }}" alt="User Avatar" class="img-circle" />
                                                            {% else %}
                                                                <img src="{{ message.customer_message_to_company.profile_image.url }}" alt="User Avatar" class="img-circle" />
                                                            {% endif %}
                                                        </span>
                                                        <div class="chat-body clearfix">
                                                            <div class="header">
                                                                <strong class="primary-font">
                                                                    {% if message.company_message_to_customer %}
                                                                        {{ message.company_message_to_customer.company_name }}
                                                                    {% else %}
                                                                         {{ message.customer_message_to_company.first_name }} {{ message.customer_message_to_company.last_name }}
                                                                    {% endif %}
                                                                </strong> <small class="pull-right text-muted">
                                                                    <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                                                            </div>
                                                            <p>
                                                                {{ message.msg_content }}
                                                            </p>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <script>
                                            var chatlist = document.getElementById('messagebox{{ customer.customer.id }}');
                                            chatlist.scrollTop = chatlist.scrollHeight;
                                        </script>
                                        <div class="panel-footer" style="padding: 0px 35px;">
                                            <form id="chatform2{{ customer.id }}" action="{% url 'LML:messages' %}" method="post">
                                                <div class="row" style="display: flex;">
                                                    {% csrf_token %}
                                                    <input name="sender" value="{{ request.user.id }}" hidden>
                                                    <input name="reciever" value="{{ customer.customer.id }}" hidden>
                                                    <input required name="message" id="btn-input{{ customer.customer.id }}" type="text" class="form-control input-sm col-sm-8 col-md-8col-lg-8" placeholder="Type your message here..." />

                                                    <div class=" col-sm-12 col-md-2 col-lg-2" style="padding: 0;">
                                                        <button  style="width: 100%;" type="submit" class="btn orangebg " id="btn-chat{{ customer.customer.id }}"><i class="fas fa-paper-plane"></i></button>
                                                    </div>
                                                    <div class=" col-sm-12 col-md-2 col-lg-2" style="padding: 0;">
                                                        <button  style="width: 100%; background-color: #282C32; color: white;" type="button" class="btn" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
{#                <script>#}
{#                    $("#chatform2{{ customer.id }}").on('submit', function(event){#}
{#                        event.preventDefault();#}
{#                        var new_form_data = $(this).serialize();#}
{#                        var url =$(this).attr('action');#}
{#                        var form = this;#}
{#                        $.ajax({#}
{#                            url : url,#}
{#                            type : 'POST',#}
{#                            data : new_form_data,#}
{##}
{#                            success : function(json){#}
{#                                console.log(json);#}
{#                                $(form).reset();#}
{#                                $('#messagebox{{ customer.customer.id }}').append('<li class="text-right list-group-item">' + json.msg + '</li>');#}
{#                                var chatlist = document.getElementById('msgdiv{{ customer.customer.id }}');#}
{#                                chatlist.scrollTop = chatlist.scrollHeight;#}
{#                            }#}
{#                        });#}
{#                        });#}
{##}
{##}
{##}
{#                        function getMessages(){#}
{#                        if (!scrolling) {#}
{#                            $.get("{% url 'LML:fetch_data_messages' customer.customer.id %}",#}
{#                                function(messages){#}
{#                                    console.log(messages);#}
{#                                    $('#messagebox{{ customer.customer.id }}').html(messages);#}
{#                                    var chatlist = document.getElementById('msgdiv{{ customer.customer.id }}');#}
{#                                    chatlist.scrollTop = chatlist.scrollHeight;#}
{#                                });#}
{#                        }#}
{#                        scrolling = false;#}
{#                        }#}
{##}
{#                        var scrolling = false;#}
{#                            $(function(){#}
{#                                $('#msgdiv{{ customer.customer.id }}').on('scroll', function(){#}
{#                                    scrolling = true;#}
{#                                });#}
{#                            refreshTimer = setInterval(getMessages, 10000);#}
{#                        });#}
{##}
{#                        $(document).ready(function() {#}
{#                         $('#btn-chat{{ customer.customer.id }}').attr('disabled','disabled');#}
{#                         $('#btn-input{{ customer.customer.id }}').keyup(function() {#}
{#                            if($(this).val() !== '') {#}
{#                                $('#btn-chat{{ customer.customer.id }}').removeAttr('disabled');#}
{#                            }#}
{#                            else {#}
{#                                $('#btn-chat{{ customer.customer.id }}').attr('disabled','disabled');#}
{#                            }#}
{#                         });#}
{#                        });#}
{##}
{#                        // using jQuery#}
{#                        function getCookie(name) {#}
{#                        var cookieValue = null;#}
{#                        if (document.cookie && document.cookie !== '') {#}
{#                            var cookies = document.cookie.split(';');#}
{#                            for (var i = 0; i < cookies.length; i++) {#}
{#                                var cookie = jQuery.trim(cookies[i]);#}
{#                                // Does this cookie string begin with the name we want?#}
{#                                if (cookie.substring(0, name.length + 1) === (name + '=')) {#}
{#                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));#}
{#                                    break;#}
{#                                }#}
{#                            }#}
{#                        }#}
{#                        return cookieValue;#}
{#                        }#}
{##}
{#                        var csrftoken = getCookie('csrftoken');#}
{##}
{#                        function csrfSafeMethod(method) {#}
{#                        // these HTTP methods do not require CSRF protection#}
{#                        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));#}
{#                        }#}
{#                        $.ajaxSetup({#}
{#                        beforeSend: function(xhr, settings) {#}
{#                            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {#}
{#                                xhr.setRequestHeader("X-CSRFToken", csrftoken);#}
{#                            }#}
{#                        }#}
{#                        });#}
{#                </script>#}
                {% endfor %}
                <!-- Ad banner -->
                <div class="row">
                    <div class="ad-banner">
                        <img src="http://via.placeholder.com/728x90" class="img-responsive" alt="">
                    </div>
                </div>
            </div>



        </div>
    </section>
    <!-- ========== Begin: Brows job Category End ===============  -->
{% endblock content %}
{% block script %}


     <script>
        $(function(){
            $(".customer").slice(0, 6).show(); // select the first ten
            $("#load").click(function(e){ // click event for load more
                e.preventDefault();
                $(".customer:hidden").slice(0, 6).show(); // select next 10 hidden divs and show them
                if($(".customer:hidden").length == 0){ // check if any hidden divs still exist
                    spinner.hide();
                    swal.fire({
                        title: "Error!",
                        text: "No more categories to load",
                        type: "error",
                        confirmButtonText: "Retry"
                    });
                }
            });
            $('a[href=#top]').click(function () {
                $('body,html').animate({
                    scrollTop: 0
                }, 600);
                return false;
            });

            $(window).scroll(function () {
                if ($(this).scrollTop() > 50) {
                    $('.totop a').fadeIn();
                } else {
                    $('.totop a').fadeOut();
                }
            });
        });
    </script>


{% endblock script %}