{% extends 'normal/layout/homelayout.html' %}
{% load static %}
{% block links %}
{% endblock links %}
{% block content %}
    <!-- Title Header Start -->
    <section class="inner-header-title" style="background-image:url({% static 'assets/img/banner-10.jpg' %});">
        <div class="container">
            <h1>FAQ</h1>
        </div>
    </section>
    <div class="clearfix"></div>
    <!-- Title Header End -->

    <!-- Accordion Design Start -->
    <section class="accordion">
        <div class="container">
            <div class="col-md-12 col-sm-12">
                <div class="simple-tab">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                       FAQ
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <div> <h3>Welcome to Labour Market Link</h3>
                                    The following termS of service (these “Terms of Service”), govern your access to and use of the Labour Market Link website, including any content,
                                    functionality and services offered on or through www.labourmarketlink.co.ke  (the “Site”) by Labour Market Link  and, on payment processing functions,
                                    by its members.
                                    Labour Market Link International and its representatives are generally referred hereto as “Labour Market Link” “we” or “us”.
                                    Please read the Terms of Service before you use the Site. By using the Site, opening an account or by clicking to agree or acknowledge to the Terms of Service when this choice is made available to you, you accept and agree to be bound and abide by these Terms of Service and our Privacy Policy
                                    incorporated by reference. 
                                   If you do not want to agree to these Terms of Service or the Privacy Policy, you must not access or use the Site. For further comprehensive policies
                                    surrounding the activity and usage on the Site, please access the designated articles.
                                    his Site is offered and available to users 18 years of age or older. If you are under 18, you may not use this Site or the Labour Market Link services. By accepting this Site, you represent and permit that you are of legal age to form a contract and meet all the foregoing
                                   eligibility requirements. If you do not meet these qualifications, you must not access or use the Site.
                                   <p>Our Customer Support team is available 24/7 if you have questions about the Site or Terms of Service.
                                   </div>
                                </div>
                            </div>
                        </div>
{#                        <div class="panel panel-default">#}
{#                            <div class="panel-heading" role="tab" id="headingTwo">#}
{#                                <h4 class="panel-title">#}
{#                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">#}
{#                                        What We Do?#}
{#                                    </a>#}
{#                                </h4>#}
{#                            </div>#}
{#                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">#}
{#                                <div class="panel-body">#}
{#                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam congue leo in congue mattis. Phasellus leo augue, consequat vitae cursus ut, efficitur a elit.</p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="panel panel-default">#}
{#                            <div class="panel-heading" role="tab" id="headingThree">#}
{#                                <h4 class="panel-title">#}
{#                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">#}
{#                                        How We Do?#}
{#                                    </a>#}
{#                                </h4>#}
{#                            </div>#}
{#                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">#}
{#                                <div class="panel-body">#}
{#                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam congue leo in congue mattis. Phasellus leo augue, consequat vitae cursus ut, efficitur a elit.</p>#}
{#                                </div>#}
{#                            </div>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Accordion Design End -->
{% endblock content %}
{% block script %}

{% endblock script %}