{% extends 'normal/layout/homelayout.html' %}
{% load static %}
{% block links %}
{% endblock links %}
{% block content %}
    <!-- Title Header Start -->
    <section class="inner-header-page " style="background-image:url({% static 'assets/img/banner-10.jpg' %}); color: White; ">
        <div class="container">

            <div class="col-md-8">
                <div class="left-side-container">
                    <div class="freelance-image"><a href="company-detail.html"><img src="{{company.logo.url}}" class="img-responsive " style="margin: 18px 0;" alt=""></a></div>
                    <div class="header-details">
                        <h4 style="color: white;">{{company.company_name|title}}</h4>
                        <p>{{ company.company_motto }}</p>
                        <ul>
                            {% if company.rank_status == "BASIC" %}
                                <li><div class="verified-action-success">{{company.rank_status|title}}</div></li>
                            {% endif %}
                            {% if company.rank_status == "PREMIUM" %}
                                <li><div class="verified-action-info">{{company.rank_status|title}}</div></li>
                            {% endif %}
                            {% if company.rank_status == "UNDEFINED" %}
                                <li><div class="verified-action-error">{{company.rank_status|title}}</div></li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 bl-1 br-gary">
                <div class="right-side-detail">
                    <ul>
                        <li><span class="detail-info">Experience</span>0 Year</li>
                    </ul>
                    <ul class="social-info">
                        {% if social.facebook %}
                           <li> <a href="{{social.facebook}}"><i style="margin-right: 5px; font-size: 20px;" class="fab fa-linkedin"></i></a></li>
                        {% endif %}
                        {% if social.facebook %}
                           <li><a href="{{ social.facebook }}"><i style="margin-right: 5px; font-size: 20px;" class="fab fa-facebook"></i></a></li>
                        {% endif %}
                        {% if social.instagram %}
                           <li><a href="{{ social.instagram }}"><i style="margin-right: 5px; font-size: 20px;" class="fab fa-instagram"></i></a></li>
                        {% endif %}
                        {% if social.twitter %}
                           <li><a href="{{ social.twitter }}"><i style="margin-right: 5px; font-size: 20px;" class="fab fa-twitter-square"></i></a></li>
                        {% endif %}
                        {% if social.googlr_plus %}
                           <li><a href="{{ social.googlr_plus }}"><i style="margin-right: 5px; font-size: 20px;" class="fab fa-google-plus-square"></i></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>

        </div>
    </section>
    <div class="clearfix"></div>
			<!-- Title Header End -->



    <!-- ========== Begin: Brows job Category ===============  -->
    <section class="brows-job-category gray-bg">
        <div class="" style="padding: 0 20px;">
             <!-- Sidebar Start -->
            <div class="col-md-3 col-sm-12">
                <div class="sidebar right-sidebar">
                   <div class="side-widget">
                        <h2 class="side-widget-title">ShortList</h2>
                        <div class="widget-text padd-0">
                            <ul>
                                <li><a href="">

                                    All Candidate
                                    <span class="pull-right">0</span></a>
                                </li>
                                <li><a href="">

                                    Premium Candidate
                                    <span class="pull-right">0</span></a>
                                </li>
                                <li><a href="">

                                    Ordinary
                                    <span class="pull-right">0</span></a>
                                </li>
                                <li><a href="">

                                    Ultimate
                                    <span class="pull-right">0</span></a>
                                </li>
                            </ul>
                        </div>
                   </div>
                   <div class="side-widget">
                        <h2 class="side-widget-title">Messages <span class="badge badge-danger badge-pill">0</span></h2>
                        <div class="widget-text padd-0">
                            <ul>
                                <li><a href="">

                                    Inbox
                                    <span class="pull-right">0</span></a>
                                </li>
                                <li><a href="">

                                    Ordinary
                                    <span class="pull-right">0</span></a>
                                </li>

                            </ul>
                        </div>
                   </div>
                   <div class="side-widget">
                        <h2 class="side-widget-title">Subscription</h2>
                        <div class="widget-text padd-0">
                            <ul>
                                <li><a href="">

                                    Premium
                                    <span class="pull-right">0</span></a>
                                </li>
                            </ul>
                        </div>
                   </div>
                   <div class="side-widget">
                        <h2 class="side-widget-title">Payment</h2>
                        <div class="widget-text padd-0">
                            <ul>
                                <li><a href="">

                                    Payment History
                                    <span class="pull-right">0</span></a>
                                </li>
                            </ul>
                        </div>
                   </div>

                </div>
            </div>
            <!-- Sidebar End -->
            <div class="col-md-9 col-sm-12">
                <div class="full-card">

                    <div class="card-header">
                        <div class="row mrg-0">

                            <div class="col-md-4 col-sm-4">
                                <ol class="breadcrumb pull-left">
                                    <li><a href="{% url 'LML:home' %}"><i class="fa fa-home"></i></a></li>
                                    <li>Shortlist</li>
                                    <li>All Candidates</li>
                                </ol>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <article class="advance-search-job">
                            <div class="row no-mrg">
                                 <div class="col-md-4 col-sm-6">
                                      <div class="paid-candidate-container">
                                    <div class="paid-candidate-box">
                                        <div class="dropdown">
                                            <div class="btn-group fl-right">
                                                <button type="button" class="btn-trans" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-gear"></i></button>
                                                <div class="dropdown-menu pull-right animated flipInX"><a href="#">Shortlist</a><a href="#">Send Message</a><a href="#">Dislike</a></div>
                                            </div>
                                        </div>
                                        <div class="paid-candidate-inner--box">
                                            <div class="paid-candidate-box-thumb"><img src="{% static 'assets/img/avatar/avatar1.png' %}" class="img-responsive img-circle" alt="" /></div>
                                            <div class="paid-candidate-box-detail">
                                                <h4>Agustin L. Smith</h4><span class="desination">App Designer</span></div>
                                        </div>
                                        <div class="paid-candidate-box-extra">
                                            <ul>
                                                <li>Php</li>
                                                <li>Android</li>
                                                <li>Html</li>
                                                <li class="more-skill bg-primary">+3</li>
                                            </ul>
                                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
                                        </div>
                                    </div><a href="premium-candidate-detail.html" class="btn btn-paid-candidate bt-1">View Detail</a></div>
                                 </div>
                                 <div class="col-md-4 col-sm-6">
                                      <div class="paid-candidate-container">
                                    <div class="paid-candidate-box">
                                        <div class="dropdown">
                                            <div class="btn-group fl-right">
                                                <button type="button" class="btn-trans" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-gear"></i></button>
                                                <div class="dropdown-menu pull-right animated flipInX"><a href="#">Shortlist</a><a href="#">Send Message</a><a href="#">Dislike</a></div>
                                            </div>
                                        </div>
                                        <div class="paid-candidate-inner--box">
                                            <div class="paid-candidate-box-thumb"><img src="{% static 'assets/img/avatar/avatar1.png' %}" class="img-responsive img-circle" alt="" /></div>
                                            <div class="paid-candidate-box-detail">
                                                <h4>Agustin L. Smith</h4><span class="desination">App Designer</span></div>
                                        </div>
                                        <div class="paid-candidate-box-extra">
                                            <ul>
                                                <li>Php</li>
                                                <li>Android</li>
                                                <li>Html</li>
                                                <li class="more-skill bg-primary">+3</li>
                                            </ul>
                                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
                                        </div>
                                    </div><a href="premium-candidate-detail.html" class="btn btn-paid-candidate bt-1">View Detail</a></div>
                                 </div>
                                 <div class="col-md-4 col-sm-6">
                                      <div class="paid-candidate-container">
                                    <div class="paid-candidate-box">
                                        <div class="dropdown">
                                            <div class="btn-group fl-right">
                                                <button type="button" class="btn-trans" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-gear"></i></button>
                                                <div class="dropdown-menu pull-right animated flipInX"><a href="#">Shortlist</a><a href="#">Send Message</a><a href="#">Dislike</a></div>
                                            </div>
                                        </div>
                                        <div class="paid-candidate-inner--box">
                                            <div class="paid-candidate-box-thumb"><img src="{% static 'assets/img/avatar/avatar1.png' %}" class="img-responsive img-circle" alt="" /></div>
                                            <div class="paid-candidate-box-detail">
                                                <h4>Agustin L. Smith</h4><span class="desination">App Designer</span></div>
                                        </div>
                                        <div class="paid-candidate-box-extra">
                                            <ul>
                                                <li>Php</li>
                                                <li>Android</li>
                                                <li>Html</li>
                                                <li class="more-skill bg-primary">+3</li>
                                            </ul>
                                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
                                        </div>
                                    </div><a href="premium-candidate-detail.html" class="btn btn-paid-candidate bt-1">View Detail</a></div>
                                 </div>
                                 <div class="col-md-4 col-sm-6">
                                      <div class="paid-candidate-container">
                                    <div class="paid-candidate-box">
                                        <div class="dropdown">
                                            <div class="btn-group fl-right">
                                                <button type="button" class="btn-trans" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-gear"></i></button>
                                                <div class="dropdown-menu pull-right animated flipInX"><a href="#">Shortlist</a><a href="#">Send Message</a><a href="#">Dislike</a></div>
                                            </div>
                                        </div>
                                        <div class="paid-candidate-inner--box">
                                            <div class="paid-candidate-box-thumb"><img src="{% static 'assets/img/avatar/avatar1.png' %}" class="img-responsive img-circle" alt="" /></div>
                                            <div class="paid-candidate-box-detail">
                                                <h4>Agustin L. Smith</h4><span class="desination">App Designer</span></div>
                                        </div>
                                        <div class="paid-candidate-box-extra">
                                            <ul>
                                                <li>Php</li>
                                                <li>Android</li>
                                                <li>Html</li>
                                                <li class="more-skill bg-primary">+3</li>
                                            </ul>
                                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
                                        </div>
                                    </div><a href="premium-candidate-detail.html" class="btn btn-paid-candidate bt-1">View Detail</a></div>
                                 </div>
                                 <div class="col-md-4 col-sm-6">
                                      <div class="paid-candidate-container">
                                    <div class="paid-candidate-box">
                                        <div class="dropdown">
                                            <div class="btn-group fl-right">
                                                <button type="button" class="btn-trans" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-gear"></i></button>
                                                <div class="dropdown-menu pull-right animated flipInX"><a href="#">Shortlist</a><a href="#">Send Message</a><a href="#">Dislike</a></div>
                                            </div>
                                        </div>
                                        <div class="paid-candidate-inner--box">
                                            <div class="paid-candidate-box-thumb"><img src="{% static 'assets/img/avatar/avatar1.png' %}" class="img-responsive img-circle" alt="" /></div>
                                            <div class="paid-candidate-box-detail">
                                                <h4>Agustin L. Smith</h4><span class="desination">App Designer</span></div>
                                        </div>
                                        <div class="paid-candidate-box-extra">
                                            <ul>
                                                <li>Php</li>
                                                <li>Android</li>
                                                <li>Html</li>
                                                <li class="more-skill bg-primary">+3</li>
                                            </ul>
                                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
                                        </div>
                                    </div><a href="premium-candidate-detail.html" class="btn btn-paid-candidate bt-1">View Detail</a></div>
                                 </div>
                                 <div class="col-md-4 col-sm-6">
                                      <div class="paid-candidate-container">
                                    <div class="paid-candidate-box">
                                        <div class="dropdown">
                                            <div class="btn-group fl-right">
                                                <button type="button" class="btn-trans" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-gear"></i></button>
                                                <div class="dropdown-menu pull-right animated flipInX"><a href="#">Shortlist</a><a href="#">Send Message</a><a href="#">Dislike</a></div>
                                            </div>
                                        </div>
                                        <div class="paid-candidate-inner--box">
                                            <div class="paid-candidate-box-thumb"><img src="{% static 'assets/img/avatar/avatar1.png' %}" class="img-responsive img-circle" alt="" /></div>
                                            <div class="paid-candidate-box-detail">
                                                <h4>Agustin L. Smith</h4><span class="desination">App Designer</span></div>
                                        </div>
                                        <div class="paid-candidate-box-extra">
                                            <ul>
                                                <li>Php</li>
                                                <li>Android</li>
                                                <li>Html</li>
                                                <li class="more-skill bg-primary">+3</li>
                                            </ul>
                                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
                                        </div>
                                    </div><a href="premium-candidate-detail.html" class="btn btn-paid-candidate bt-1">View Detail</a></div>
                                 </div>
                                 <div class="col-md-4 col-sm-6">
                                      <div class="paid-candidate-container">
                                    <div class="paid-candidate-box">
                                        <div class="dropdown">
                                            <div class="btn-group fl-right">
                                                <button type="button" class="btn-trans" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-gear"></i></button>
                                                <div class="dropdown-menu pull-right animated flipInX"><a href="#">Shortlist</a><a href="#">Send Message</a><a href="#">Dislike</a></div>
                                            </div>
                                        </div>
                                        <div class="paid-candidate-inner--box">
                                            <div class="paid-candidate-box-thumb"><img src="{% static 'assets/img/avatar/avatar1.png' %}" class="img-responsive img-circle" alt="" /></div>
                                            <div class="paid-candidate-box-detail">
                                                <h4>Agustin L. Smith</h4><span class="desination">App Designer</span></div>
                                        </div>
                                        <div class="paid-candidate-box-extra">
                                            <ul>
                                                <li>Php</li>
                                                <li>Android</li>
                                                <li>Html</li>
                                                <li class="more-skill bg-primary">+3</li>
                                            </ul>
                                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
                                        </div>
                                    </div><a href="premium-candidate-detail.html" class="btn btn-paid-candidate bt-1">View Detail</a></div>
                                 </div>
                                 <div class="col-md-4 col-sm-6">
                                      <div class="paid-candidate-container">
                                    <div class="paid-candidate-box">
                                        <div class="dropdown">
                                            <div class="btn-group fl-right">
                                                <button type="button" class="btn-trans" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-gear"></i></button>
                                                <div class="dropdown-menu pull-right animated flipInX"><a href="#">Shortlist</a><a href="#">Send Message</a><a href="#">Dislike</a></div>
                                            </div>
                                        </div>
                                        <div class="paid-candidate-inner--box">
                                            <div class="paid-candidate-box-thumb"><img src="{% static 'assets/img/avatar/avatar1.png' %}" class="img-responsive img-circle" alt="" /></div>
                                            <div class="paid-candidate-box-detail">
                                                <h4>Agustin L. Smith</h4><span class="desination">App Designer</span></div>
                                        </div>
                                        <div class="paid-candidate-box-extra">
                                            <ul>
                                                <li>Php</li>
                                                <li>Android</li>
                                                <li>Html</li>
                                                <li class="more-skill bg-primary">+3</li>
                                            </ul>
                                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
                                        </div>
                                    </div><a href="premium-candidate-detail.html" class="btn btn-paid-candidate bt-1">View Detail</a></div>
                                 </div>
                                 <div class="col-md-4 col-sm-6">
                                      <div class="paid-candidate-container">
                                    <div class="paid-candidate-box">
                                        <div class="dropdown">
                                            <div class="btn-group fl-right">
                                                <button type="button" class="btn-trans" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-gear"></i></button>
                                                <div class="dropdown-menu pull-right animated flipInX"><a href="#">Shortlist</a><a href="#">Send Message</a><a href="#">Dislike</a></div>
                                            </div>
                                        </div>
                                        <div class="paid-candidate-inner--box">
                                            <div class="paid-candidate-box-thumb"><img src="{% static 'assets/img/avatar/avatar1.png' %}" class="img-responsive img-circle" alt="" /></div>
                                            <div class="paid-candidate-box-detail">
                                                <h4>Agustin L. Smith</h4><span class="desination">App Designer</span></div>
                                        </div>
                                        <div class="paid-candidate-box-extra">
                                            <ul>
                                                <li>Php</li>
                                                <li>Android</li>
                                                <li>Html</li>
                                                <li class="more-skill bg-primary">+3</li>
                                            </ul>
                                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
                                        </div>
                                    </div><a href="premium-candidate-detail.html" class="btn btn-paid-candidate bt-1">View Detail</a></div>
                                 </div>
                                 <div class="col-md-4 col-sm-6">
                                      <div class="paid-candidate-container">
                                    <div class="paid-candidate-box">
                                        <div class="dropdown">
                                            <div class="btn-group fl-right">
                                                <button type="button" class="btn-trans" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-gear"></i></button>
                                                <div class="dropdown-menu pull-right animated flipInX"><a href="#">Shortlist</a><a href="#">Send Message</a><a href="#">Dislike</a></div>
                                            </div>
                                        </div>
                                        <div class="paid-candidate-inner--box">
                                            <div class="paid-candidate-box-thumb"><img src="{% static 'assets/img/avatar/avatar1.png' %}" class="img-responsive img-circle" alt="" /></div>
                                            <div class="paid-candidate-box-detail">
                                                <h4>Agustin L. Smith</h4><span class="desination">App Designer</span></div>
                                        </div>
                                        <div class="paid-candidate-box-extra">
                                            <ul>
                                                <li>Php</li>
                                                <li>Android</li>
                                                <li>Html</li>
                                                <li class="more-skill bg-primary">+3</li>
                                            </ul>
                                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
                                        </div>
                                    </div><a href="premium-candidate-detail.html" class="btn btn-paid-candidate bt-1">View Detail</a></div>
                                 </div>
                                 <div class="col-md-4 col-sm-6">
                                      <div class="paid-candidate-container">
                                    <div class="paid-candidate-box">
                                        <div class="dropdown">
                                            <div class="btn-group fl-right">
                                                <button type="button" class="btn-trans" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-gear"></i></button>
                                                <div class="dropdown-menu pull-right animated flipInX"><a href="#">Shortlist</a><a href="#">Send Message</a><a href="#">Dislike</a></div>
                                            </div>
                                        </div>
                                        <div class="paid-candidate-inner--box">
                                            <div class="paid-candidate-box-thumb"><img src="{% static 'assets/img/avatar/avatar1.png' %}" class="img-responsive img-circle" alt="" /></div>
                                            <div class="paid-candidate-box-detail">
                                                <h4>Agustin L. Smith</h4><span class="desination">App Designer</span></div>
                                        </div>
                                        <div class="paid-candidate-box-extra">
                                            <ul>
                                                <li>Php</li>
                                                <li>Android</li>
                                                <li>Html</li>
                                                <li class="more-skill bg-primary">+3</li>
                                            </ul>
                                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
                                        </div>
                                    </div><a href="premium-candidate-detail.html" class="btn btn-paid-candidate bt-1">View Detail</a></div>
                                 </div>

                            </div>
                        </article>





                    </div>
                </div>

                <div class="row">
                    <ul class="pagination">
                        <li><a href="#">&laquo;</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#"><i class="fa fa-ellipsis-h"></i></a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>

                <!-- Ad banner -->
                <div class="row">
                    <div class="ad-banner">
                        <img src="http://via.placeholder.com/728x90" class="img-responsive" alt="">
                    </div>
                </div>
            </div>



        </div>
    </section>
    <!-- ========== Begin: Brows job Category End ===============  -->
{% endblock content %}
{% block script %}

{% endblock script %}