{% extends 'normal/layout/homelayout.html' %}
{% load static %}
{% block links %}
{% endblock links %}
{% block content %}
            <!-- Title Header Start -->
			<section class="inner-header-title" style="background-image:url({% static 'assets/img/blog/banner-19.jpg' %});">
				<div class="container">
					<h1>Our Package</h1>
				</div>
			</section>
			<div class="clearfix"></div>
			<!-- Title Header End -->
            <!-- pricing Section Start -->
			<section class="pricing">
				<div class="container">

					<div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
						<div class="pr-table">
							<div class="pr-header">
								<div class="pr-plan">
									<h4>Basic</h4>
								</div>
								<div class="pr-price">
									<h3><sup>ksh.</sup>500</h3>
								</div>
							</div>
							<div class="pr-features">
								<ul>
                                    <p>view 10 profiles</p>
{#									<li> 10 profiles</li>#}
{#									<li></li>#}
{#									<li>1 Core Processor</li>#}
{#									<li>32 GB SSD Disk</li>#}
{#									<li>1 TB Transfer</li>#}
								</ul>
							</div>
							<div class="pr-buy-button">
								<a href="#" class="pr-btn" title="Price Button">Get Started</a>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
						<div class="pr-table">
							<div class="pr-header active">
								<div class="pr-plan">
									<h4>Premium</h4>
								</div>
								<div class="pr-price">
									<h3><sup>Ksh.</sup>1700</h3>
								</div>
							</div>
							<div class="pr-features">
								<ul>
									<li>view 80 profiles</li>
{#									<li>2 GB Memory</li>#}
{#									<li>1 Core Processor</li>#}
{#									<li>32 GB SSD Disk</li>#}
{#									<li>1 TB Transfer</li>#}
								</ul>
							</div>
							<div class="pr-buy-button">
								<a href="#" class="pr-btn active" title="Price Button">Get Started</a>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
						<div class="pr-table">
							<div class="pr-header">
								<div class="pr-plan">
									<h4>Ultimate</h4>
								</div>
								<div class="pr-price">
									<h3><sup>Ksh.</sup>2000<sub></sub></h3>
								</div>
							</div>
							<div class="pr-features">
								<ul>
									<li>view 100 profiles</li>
{#									<li>2 GB Memory</li>#}
{#									<li>1 Core Processor</li>#}
{#									<li>32 GB SSD Disk</li>#}
{#									<li>1 TB Transfer</li>#}
								</ul>
							</div>
							<div class="pr-buy-button">
								<a href="#" class="pr-btn" title="Price Button">Get Started</a>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
						<div class="pr-table">
							<div class="pr-header">
								<div class="pr-plan">
									<h4>Pro Basic</h4>
								</div>
								<div class="pr-price">
									<h3><sup>Ksh.</sup>1000<sub></sub></h3>
								</div>
							</div>
							<div class="pr-features">
								<ul>
									<li>10 profiles</li>
									<li>customer care support</li>
{#									<li>1 Core Processor</li>#}
{#									<li>32 GB SSD Disk</li>#}
{#									<li>1 TB Transfer</li>#}
								</ul>
							</div>
							<div class="pr-buy-button">
								<a href="#" class="pr-btn" title="Price Button">Get Started</a>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
						<div class="pr-table">
							<div class="pr-header active">
								<div class="pr-plan">
									<h4>Pro Ultimate</h4>
								</div>
								<div class="pr-price">
									<h3><sup>Ksh.</sup>2500</h3>
								</div>
							</div>
							<div class="pr-features">
								<ul>
									<li>80 profiles</li>
									<li>+ customer care support</li>
{#									<li>1 Core Processor</li>#}
{#									<li>32 GB SSD Disk</li>#}
{#									<li>1 TB Transfer</li>#}
								</ul>
							</div>
							<div class="pr-buy-button">
								<a href="#" class="pr-btn active" title="Price Button">Get Started</a>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-xl-4 col-md-6 col-sm-12">
						<div class="pr-table">
							<div class="pr-header">
								<div class="pr-plan">
									<h4>Pro Ultimate</h4>
								</div>
								<div class="pr-price">
									<h3><sup>Ksh.</sup>500000<sub></sub></h3>
								</div>
							</div>
							<div class="pr-features">
								<ul>
									<li>complete access</li>
									<li>Dedicated customer support</li>
									<li>Faster responce</li>
									<li>Get top verified employees</li>
{#									<li>1 TB Transfer</li>#}
								</ul>
							</div>
							<div class="pr-buy-button">
								<a href="#" class="pr-btn" title="Price Button">Get Started</a>
							</div>
						</div>
					</div>

				</div>
			</section>
			<!-- End Pricing Section -->
{% endblock content %}
{% block script %}

{% endblock script %}