    <script>
        var endpoint, socket, wsStart, loc,  msgInput;

        var charform1 = document.getElementById('chatformee{{ customer.customer.id }}');
        var chat_message_input = $('#chat-message-input');
        var customer_id = $('#customer_id');
        var chat_log = $('#chat-log');
        loc = window.location;
        wsStart ='ws://';
        if(loc.protocol === 'https:'){
            wsStart = 'wss://'
        }
        endpoint = wsStart + loc.host + loc.pathname;
        socket = new WebSocket(endpoint);

        socket.onmessage = function (e) {
            console.log('message', e);
            var  chat_Data = JSON.parse(e.data);

            var image_url = chat_Data.image;
            var image_url = '{{ company.logo.url }}';
            console.log(chat_Data);

            chat_log.append("<li class='sent'><img src='"+ image_url +"' alt='' /><p>"+ chat_Data.message +"</p><li>");

        };
        socket.onopen = function (e) {
            console.log('open', e);
            charform1.addEventListener('submit', function(event) {
                event.preventDefault();
                var finalData = {
                    'message': chat_message_input.val(),
                    'customer':customer_id.val(),
                };
                socket.send(JSON.stringify(finalData));
                charform1.reset();

            })

        };
        socket.onerror = function (e) {
            console.log('error', e);
        };
        socket.onclose = function (e) {
            console.log('close', e);
            alert('closed', e)
        };
 </script>