{% extends 'normal/layout/homelayout.html' %}
{% load static %}
{% block links %}

{% endblock links %}
{% block content %}
            <!-- Title Header Start -->
			<section class="inner-header-title" style="background-image:url({% static 'assets/img/blog/banner-12.jpg' %});">
				<div class="container">
					<h1>Details</h1>
				</div>
			</section>
			<div class="clearfix"></div>
			<!-- Title Header End -->

			<!-- Candidate Detail Start -->
			<section class="detail-desc">
				<div class="container">

					<div class="ur-detail-wrap top-lay">

						<div class="ur-detail-box">

							<div class="ur-thumb">
								<img src="{% static 'assets/img/avatar/squareavatar.png' %}" class="img-responsive" alt="" />
							</div>
							<div class="ur-caption">
								<h4 class="ur-title">LML ADMIN</h4>
								<p class="ur-location"><i class="ti-location-pin mrg-r-5"></i>232, Kahawa ,Nairobi</p>
								<span class="ur-designation">Web Designer</span>
								<div class="rateing" style="margin-top: 12px;">
									<a href="#"><i style="font-size: 20px;" class="fab fa-linkedin"></i></a>
{#									<i class="fa fa-star filled"></i>#}
{#									<i class="fa fa-star filled"></i>#}
{#									<i class="fa fa-star filled"></i>#}
{#									<i class="fa fa-star"></i>#}
								</div>
							</div>

						</div>

						<div class="ur-detail-btn">
							<a  href="{% url 'LML:employeeprofile' %}#settings" class="btn btn-warning mrg-bot-10 full-width"><i class="ti-thumb-up mrg-r-5"></i>Edit Account</a><br>
{#							<a href="#" class="btn btn-info full-width"><i class="ti-download mrg-r-5"></i>Download CV</a>#}
						</div>

					</div>

				</div>
			</section>
			<!-- Candidate Detail End -->

			<!-- Candidate full detail Start -->
			<section class="full-detail-description full-detail">
				<div class="container">
					<div class="row">

						<div class="col-lg-8 col-md-8">

							<div class="row-bottom">
								<h2 class="detail-title">About Candidate</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							</div>

							<div class="row-bottom">
								<h2 class="detail-title">Education</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<ul class="trim-edu-list">

									<li>
										<div class="trim-edu">
											<h4 class="trim-edu-title">Jkuat University<span class="title-est">Graduation Date 2019</span></h4>
											<strong>Masters In Fine Arts</strong>
											<p>Start Date 12/10/2016 to End Date 21/10/2019.</p>
										</div>
									</li>

									<li>
										<div class="trim-edu">
											<h4 class="trim-edu-title">Kenyatta University<span class="title-est">Graduation Date 2015</span></h4>
											<strong>Masters In Fine Arts</strong>
											<p>Start Date 12/10/2016 to End Date 21/10/2019.</p>
										</div>
									</li>

								</ul>
							</div>

							<div class="row-bottom">
								<h2 class="detail-title">Work & Experience</h2>
								<ul class="trim-edu-list">

									<li>
										<div class="trim-edu">
											<h4 class="trim-edu-title">Innvovation Tech<span class="title-est">Worked for 10 years</span></h4>
											<strong>Web Designer</strong>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
										</div>
									</li>

									<li>
										<div class="trim-edu">
											<h4 class="trim-edu-title">Livar Studio<span class="title-est">Worked for 1 years</span></h4>
											<strong>Graphic Designer</strong>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
										</div>
									</li>

								</ul>
							</div>

							<div class="row-bottom">
								<h2 class="detail-title">Skills</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<div class="ext-mrg row third-progress">

								</div>
							</div>

						</div>

						<div class="col-lg-4 col-md-4">
							<div class="full-sidebar-wrap">

								<!-- Candidate overview -->
								<div class="sidebar-widgets">

									<div class="ur-detail-wrap">
										<div class="ur-detail-wrap-header">
											<h4>Candidate Overview</h4>
										</div>
										<div class="ur-detail-wrap-body">
											<ul class="ove-detail-list">

												<li>
													<i class="ti-email"></i>
													<h5>Email</h5>
													<span>eugene.were@yahoo.com</span>
												</li>

                                                <li>
													<i class="ti-location-pin"></i>
													<h5>County</h5>
													<span>Nairobi</span>
												</li>

                                                <li>
													<i class="ti-location-arrow"></i>
													<h5>Region</h5>
													<span>Kahawa</span>
												</li>

												<li>
													<i class="ti-user"></i>
													<h5>Gender</h5>
													<span>Male</span>
												</li>

                                                <li>
													<i class="ti-view-grid"></i>
													<h5>Marital Status</h5>
													<span>Married</span>
												</li>



												<li>
													<i class="ti-mobile"></i>
													<h5>Phone Number</h5>
													<span>0706833784</span>
												</li>

												<li>
													<i class="ti-book"></i>
													<h5>Address</h5>
													<span>123. Nairobi Kahawa</span>
												</li>

												<li>
													<i class="ti-shield"></i>
													<h5>Experience</h5>
													<span>5 Years</span>
												</li>

												<li>
													<i class="ti-book"></i>
													<h5>Qualification</h5>
													<span>Master Degree</span>
												</li>

											</ul>
										</div>
									</div>

								</div>
								<!-- /Candidate overview -->

								<!-- Say Hello -->
								<div class="sidebar-widgets">

									<div class="ur-detail-wrap">
										<div class="ur-detail-wrap-header">
											<h4>Get In Touch</h4>
										</div>
										<div class="ur-detail-wrap-body">
											<form action="#">
												<div class="form-group">
													<label>Name</label>
													<input type="email" class="form-control">
												</div>
												<div class="form-group">
													<label>Email</label>
													<input type="email" class="form-control">
												</div>
												<div class="form-group">
													<label>Message</label>
													<textarea class="form-control"></textarea>
												</div>
												<button type="submit" class="btn btn-primary" style="border-radius: 140px;">Submit</button>
											</form>
										</div>
									</div>

								</div>
								<!-- /Say Hello -->

							</div>
						</div>

					</div>
				</div>
			</section>
			<!-- company full detail End -->
{% endblock content %}
{% block script %}

{% endblock script %}