{% extends 'normal/layout/homelayout.html' %}
{% load static %}
{% block links %}

{% endblock links %}
{% block content %}
    <!-- Title Header Start -->
			<section class="inner-header-title" style="background-image:url({% static 'assets/img/blog/banner-22.jpg' %});">
				<div class="container">
					<h1>Your Profile</h1>
				</div>
			</section>
			<div class="clearfix"></div>
			<!-- Title Header End -->

            <!-- Candidate Profile Start -->
            <section class="detail-desc advance-detail-pr gray-bg">
                <div class="container">
                    <div class="ur-detail-wrap create-kit padd-bot-0">

                        <div class="row">
                            <div class="detail-pic">
                                <img src="{{customer.profile_image.url}}" class="img" alt="" />
                                <a href="#" class="detail-edit" >
                                    <i class="fa fa-user fa-spin"></i>
                                </a>
                            </div>
{#                            <div class="detail-status"><span>Active Now</span></div>#}
                        </div>

                        <div class="row bottom-mrg">
                            <div class="col-md-12 col-sm-12">
                                <div class="advance-detail detail-desc-caption">
                                    <h4 class="text-capitalize">{{request.user.first_name}} {{request.user.last_name}}</h4>
                                    <span class="designation text-capitalize">{% for skill in skills %}{{ skill }},{% endfor %}</span>
                                    <ul class="text-center">
                                        <li><strong class="j-view">0</strong>Shortlisted Times</li>
                                        <li><strong class="j-applied"></strong></li>
                                        <li><strong class="j-shared">1</strong>Invitation</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="row no-padd">
                            <div class="detail pannel-footer">
                                <div class="col-md-5 col-sm-5">
                                    <ul class="detail-footer-social">
{#                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>#}
{#                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
                                        {% if social %}
                                        <li><a href="{{ social }}"><i class="fab fa-linkedin"></i></a></li>
                                        {% endif %}
{#                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>#}
                                    </ul>
                                </div>
                                <div class="col-md-7 col-sm-7">
                                    <div class="detail-pannel-footer-btn pull-right">
                                        <a href="{% url 'LML:employeedetails' %}" class="footer-btn grn-btn" title="View Details" style="border-radius: 140px;">View Details</a>
{#                                        <a href="#" class="footer-btn blu-btn" title="">Save Draft</a>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="full-detail-description full-detail gray-bg">
                <div class="container">
                    <div class="col-md-12 col-sm-12">
                        <div class="full-card">
                          <div class="deatil-tab-employ tool-tab">
                                <ul class="nav simple nav-tabs" id="simple-design-tab">
                                    <li class="active"><a href="#about">About</a></li>
                                    <li><a href="#address">Address</a></li>
{#                                    <li><a href="#matches-job">Matches MatchesJob</a></li>#}
{#                                    <li><a href="#friends">Mutual Friends</a></li>#}
{#                                    <li><a href="#messages">Messages <span class="info-bar">6</span></a></li>#}
                                    <li><a href="#settings">Settings</a></li>
                                </ul>

                                <!-- Start All Sec -->
                                <div class="tab-content">
                                    <div id="about" class="tab-pane fade in active">
                                        <h3 class="text-capitalize">About {{request.user.first_name}} {{request.user.last_name}}</h3>
                                        <p>{{ customer.biography }}</p>
                                    </div>
                                    <!-- End About Sec -->

                                    <!-- Start Address Sec -->
                                    <div id="address" class="tab-pane fade">
                                        <h3>Address Info</h3>
                                        <ul class="job-detail-des">
                                            <li><span>Country:</span>{{customer.country}}</li>
                                            <li><span>County:</span>{{customer.county.county}}</li>
                                            <li><span>Region:</span>{{ customer.region.region }}->{{ customer.region.ward }}</li>
{#                                            <li><span>Zip:</span>520 548</li>#}
                                            <li><span>Telephone:</span>{{customer.phone_number}}</li>
{#                                            <li><span>Fax:</span>(622) 123 456</li>#}
                                            <li><span>Email:</span>{{request.user.email}}</li>
                                        </ul>
                                    </div>
                                    <!-- End Address Sec -->

                                    <!-- Start Friend List -->
                                    <div id="friends" class="tab-pane fade">
                                        <div class="row">
                                            <div class="col-md-4 col-sm-4">
                                                <div class="manage-cndt">
                                                    <div class="cndt-status pending">Pending</div>
                                                    <div class="cndt-caption">
                                                        <div class="cndt-pic"><img src="{% static 'assets/img/avatar/avatar1.png' %}" class="img-responsive" alt=""></div>
                                                        <h4>Charles Hopman</h4><span>Web designer</span>
                                                        <p>Our analysis team at Megriosft use end to end innovation proces</p>
                                                    </div>{% comment %}<a href="#" title="" class="cndt-profile-btn">View Profile</a>{% endcomment %}</div>
                                            </div>

                                            <div class="col-md-4 col-sm-4">
                                                <div class="manage-cndt">
                                                    <div class="cndt-status available">Available</div>
                                                    <div class="cndt-caption">
                                                        <div class="cndt-pic"><img src="{% static 'assets/img/avatar/avatar1.png' %}" class="img-responsive" alt=""></div>
                                                        <h4>Ethan Marion</h4><span>IOS designer</span>
                                                        <p>Our analysis team at Megriosft use end to end innovation proces</p>
                                                    </div>{% comment %}<a href="#" title="" class="cndt-profile-btn">View Profile</a>{% endcomment %}</div>
                                            </div>

                                            <div class="col-md-4 col-sm-4">
                                                <div class="manage-cndt">
                                                    <div class="cndt-status pending">Pending</div>
                                                    <div class="cndt-caption">
                                                        <div class="cndt-pic"><img src="{% static 'assets/img/avatar/avatar1.png' %}" class="img-responsive" alt=""></div>
                                                        <h4>Zara Clow</h4><span>UI/UX designer</span>
                                                        <p>Our analysis team at Megriosft use end to end innovation proces</p>
                                                    </div>{% comment %}<a href="#" title="" class="cndt-profile-btn">View Profile</a>{% endcomment %}</div>
                                            </div>

                                            <div class="col-md-4 col-sm-4">
                                                <div class="manage-cndt">
                                                    <div class="cndt-status pending">Pending</div>
                                                    <div class="cndt-caption">
                                                        <div class="cndt-pic"><img src="{% static 'assets/img/avatar/avatar1.png' %}" class="img-responsive" alt=""></div>
                                                        <h4>Henry Crooks</h4><span>PHP Developer</span>
                                                        <p>Our analysis team at Megriosft use end to end innovation proces</p>
                                                    </div>{% comment %}<a href="#" title="" class="cndt-profile-btn">View Profile</a>{% endcomment %}</div>
                                            </div>

                                            <div class="col-md-4 col-sm-4">
                                                <div class="manage-cndt">
                                                    <div class="cndt-status available">Available</div>
                                                    <div class="cndt-caption">
                                                        <div class="cndt-pic"><img src="{% static 'assets/img/avatar/avatar1.png' %}" class="img-responsive" alt=""></div>
                                                        <h4>Joseph Macfarlan</h4><span>App Developer</span>
                                                        <p>Our analysis team at Megriosft use end to end innovation proces</p>
                                                    </div>{% comment %}<a href="#" title="" class="cndt-profile-btn">View Profile</a>{% endcomment %}</div>
                                            </div>

                                            <div class="col-md-4 col-sm-4">
                                                <div class="manage-cndt">
                                                    <div class="cndt-status pending">Pending</div>
                                                    <div class="cndt-caption">
                                                        <div class="cndt-pic"><img src="{% static 'assets/img/avatar/avatar1.png' %}" class="img-responsive" alt=""></div>
                                                        <h4>Zane Joyner</h4><span>Html Expert</span>
                                                        <p>Our analysis team at Megriosft use end to end innovation proces</p>
                                                    </div>{% comment %}<a href="#" title="" class="cndt-profile-btn">View Profile</a>{% endcomment %}</div>
                                            </div>

                                            <div class="col-md-4 col-sm-4">
                                                <div class="manage-cndt">
                                                    <div class="cndt-status pending">Pending</div>
                                                    <div class="cndt-caption">
                                                        <div class="cndt-pic"><img src="{% static 'assets/img/avatar/avatar1.png' %}../../static/assets/img/can-3.png" class="img-responsive" alt=""></div>
                                                        <h4>Anna Hoysted</h4><span>UI/UX Designer</span>
                                                        <p>Our analysis team at Megriosft use end to end innovation proces</p>
                                                    </div>{% comment %}<a href="#" title="" class="cndt-profile-btn">View Profile</a>{% endcomment %}</div>
                                            </div>

                                            <div class="col-md-4 col-sm-4">
                                                <div class="manage-cndt">
                                                    <div class="cndt-status available">Available</div>
                                                    <div class="cndt-caption">
                                                        <div class="cndt-pic"><img src="{% static 'assets/img/avatar/avatar1.png' %}" class="img-responsive" alt=""></div>
                                                        <h4>Spencer Birdseye</h4><span>SEO Expert</span>
                                                        <p>Our analysis team at Megriosft use end to end innovation proces</p>
                                                    </div>{% comment %}<a href="#" title="" class="cndt-profile-btn">View Profile</a>{% endcomment %}</div>
                                            </div>

                                            <div class="col-md-4 col-sm-4">
                                                <div class="manage-cndt">
                                                    <div class="cndt-status pending">Pending</div>
                                                    <div class="cndt-caption">
                                                        <div class="cndt-pic"><img src="{% static 'assets/img/avatar/avatar1.png' %}" class="img-responsive" alt=""></div>
                                                        <h4>Eden Macaulay</h4><span>Web designer</span>
                                                        <p>Our analysis team at Megriosft use end to end innovation proces</p>
                                                    </div>
{#                                                        <a href="#" title="" class="cndt-profile-btn">View Profile</a>#}
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <ul class="pagination">
                                                <li><a href="#">«</a></li>
                                                <li class="active"><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#"><i class="fa fa-ellipsis-h"></i></a></li>
                                                <li><a href="#">»</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- End Friend List -->


                                    <!-- Start Settings -->
                                    <div id="settings" class="tab-pane fade">
                                        <div class="row no-mrg">
                                            <h3>Edit Profile</h3>
                                            <h2 class="detail-title mrg-top-20">Personal Information</h2>
                                            <div class="edit-pro">

                                                <div class="row col-sm-12 col-md-12 mrg-top-20">
                                                    <div class="detail-pic js">
                                                        <div class="box companybox">
                                                            <input required style="position: relative;" onchange="readURL(this)" type="file" name="upload-pic" id="upload-pic" class="inputfile" />
                                                            <label  for="upload-pic"><i class="fa fa-picture-o" aria-hidden="true"></i><span style="margin-left:15px; color: white; text-align: center;">Upload Your Logo</span></label>
                                                            <img class="blah" id="blah" style="position: absolute;top: 0; left: 0; bottom: 0; right: 0; visibility:hidden;width: 167px; height: 174px" src="{% static 'assets/img/client-1.jpg' %}" alt="">
                                                        </div>
                                                        <div id="disclaimer" class="disclaimer disclaimer-animated ">
                                                            Upload Logo
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6">
                                                    <label>First Name</label>
                                                    <input type="text" class="form-control" placeholder="Eugene">
                                                </div>
{#                                                <div class="col-md-4 col-sm-6">#}
{#                                                    <label>Middle Name</label>#}
{#                                                    <input type="text" class="form-control" placeholder="Else">#}
{#                                                </div>#}
                                                <div class="col-md-4 col-sm-6">
                                                    <label>Last Name</label>
                                                    <input type="text" class="form-control" placeholder="Were">
                                                </div>
                                                <div class="col-md-4 col-sm-6">
                                                    <label>Gender</label>
                                                    <input type="text" class="form-control" placeholder="Male">
                                                </div>
                                                <div class="col-md-4 col-sm-6">
                                                    <label>Username</label>
                                                    <input type="text" class="form-control" placeholder="eugenewere">
                                                </div>
                                                <div class="col-md-4 col-sm-6">
                                                    <label>Email</label>
                                                    <input type="email" class="form-control" placeholder="eugene.were@yahoo.com">
                                                </div>
                                                <div class="col-md-4 col-sm-6">
                                                    <label>Username</label>
                                                    <input data-dd-theme="vanilla" placeholder="Date Of birth" type="text" id="dob" data-lang="en" data-large-mode="true" data-min-year="1900" data-max-year="<script>var date = new Date; var year = date.getFullYear();document.write(year);</script>" data-disabled-days="08/17/2017,08/18/2017" data-id="datedropper-0"  class="form-control" readonly="">
                                                </div>
                                                <div class="col-md-4 col-sm-6">
                                                    <label>Phone</label>
                                                    <input type="text" class="form-control" placeholder="07000000000">
                                                </div>
                                                <div class="col-md-4 col-sm-6">
                                                    <label>Marital Status</label>
                                                    <select id="marital" class="form-control input-lg" >
                                                        <option disabled >Marital status</option>
                                                        <option value="Single">Single</option>
                                                        <option selected value="Married">Married</option>
                                                        <option value="Devorced">Devorced </option>
            {#											<option>Machanical</option>#}
            {#											<option>HR/Manager</option>#}
                                                    </select>
                                                </div>
                                                <div class="col-md-4 col-sm-6">
                                                    <label>Location</label>
                                                    <input type="text" class="form-control" value="Kenya" disabled placeholder="258 457 528">
                                                </div>
                                                <div class="col-md-4 col-sm-6">
                                                    <label>County</label>
                                                    <select class="form-control input-lg">
                                                        <option selected>County</option>
                                                        <option value="Nairobi">NAirobi</option>
                                                        <option value="Nairobi">NAirobi</option>
                                                        <option value="Nairobi">NAirobi</option>
                                                        <option>NAirobi</option>
                                                        <option>NAirobi</option>
                                                        <option>NAirobi</option>
                                                        <option>NAirobi</option>
                                                        <option>NAirobi</option>
                                                        <option>NAirobi</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4 col-sm-6">
                                                    <label>Region</label>
                                                   <select class="form-control input-lg">
                                                        <option disabled>Region</option>
                                                        <option selected>Langata</option>
                                                        <option>Langata</option>
                                                        <option>Langata</option>
                                                        <option>Langata</option>
                                                        <option>Langata</option>
                                                        <option>Langata</option>
                                                    </select>
                                                </div>

{#                                                <div class="col-md-4 col-sm-6">#}
{#                                                    <label>Zip / Postal</label>#}
{#                                                    <input type="text" class="form-control" placeholder="258 457 528">#}
{#                                                </div>#}
                                                <div class="col-md-4 col-sm-6">
                                                    <label>LandMark</label>
                                                    <input type="text" class="form-control" placeholder="Tuskeys">
                                                </div>

{#                                                <div class="col-md-4 col-sm-6">#}
{#                                                    <label>Address</label>#}
{#                                                    <input type="text" class="form-control" placeholder="204 Lowes Alley">#}
{#                                                </div>#}
{#                                                <div class="col-md-4 col-sm-6">#}
{#                                                    <label>Address 2</label>#}
{#                                                    <input type="text" class="form-control" placeholder="Software Developer">#}
{#                                                </div>#}
{#                                                <div class="col-md-4 col-sm-6">#}
{#                                                    <label>Organization</label>#}
{#                                                    <input type="text" class="form-control" placeholder="Software Developer">#}
{#                                                </div>#}
{#                                                <div class="col-md-4 col-sm-6">#}
{#                                                    <label>City</label>#}
{#                                                    <input type="text" class="form-control" placeholder="Chandigarh">#}
{#                                                </div>#}
{#                                                <div class="col-md-4 col-sm-6">#}
{#                                                    <label>State</label>#}
{#                                                    <input type="text" class="form-control" placeholder="Punjab">#}
{#                                                </div>#}
{#                                                <div class="col-md-4 col-sm-6">#}
{#                                                    <label>Country</label>#}
{#                                                    <input type="text" class="form-control" placeholder="India">#}
{#                                                </div>#}
{#                                                <div class="col-md-4 col-sm-6">#}
{#                                                    <label>Old Password</label>#}
{#                                                    <input type="password" class="form-control" placeholder="*********">#}
{#                                                </div>#}
{#                                                <div class="col-md-4 col-sm-6">#}
{#                                                    <label>New Password</label>#}
{#                                                    <input type="password" class="form-control" placeholder="*********">#}
{#                                                </div>#}
{#                                                <div class="col-md-4 col-sm-6">#}
{#                                                    <label>Old Password</label>#}
{#                                                    <input type="password" class="form-control" placeholder="*********">#}
{#                                                </div>#}
                                                <div class="col-md-12">
                                                    <h2 class="detail-title mrg-top-20">Education</h2>
                                                    <div class="extra-field-box">
                                                        <div class="multi-box">
                                                            <div class="dublicat-box">
                        {#                                        university ,course,regno#}
                                                                <div class="col-md-4 col-sm-12">

                                                                            <label for="kswq">Qualifications</label>
                                                                            <select  id="kswq" class="form-control input-lg">
                                                                                <option disabled="disabled">Qualifications</option>
                                                                                <option selected value="Phd">Phd</option>
                                                                                <option value="Masters">Masters</option>
                                                                                <option value="Masters">Bachelor</option>
                                                                                <option value="Diploma">Diploma</option>
                                                                                <option value="Certificate">Certificate</option>
                                                                            </select>

                                                                </div>
                                                                <div  class="col-md-4 col-sm-12 row">

                                                                        <label for="ksww">University</label>
                                                                        <select id="ksww" class="form-control input-lg">
                                                                            <option  disabled="disabled">University</option>
                                                                            <option selected>Nairobi</option>
                                                                            <option >JKuat</option>
                                                                            <option>Etc</option>
                                                                        </select>

                                                                    </div>
                                                                    <div  id=""  class=" col-md-4 col-sm-12">

                                                                            <label for="ksw">Qualifications</label>
                                                                            <select id="ksw" class="form-control input-lg">
                                                                                <option  disabled="disabled">Qualification, e.g. Phd in Arts</option>
                                                                                <option selected>Phd in Arts</option>
                                                                                <option>Phd in Arts</option>
                                                                                <option>Phd in Arts</option>
                                                                                <option>Phd in Arts</option>
                                                                                <option>Phd in Arts</option>
                                                                                <option>Phd in Arts</option>
                                                                                <option>Etc</option>
                                                                            </select>

                                                                    </div>
                                                                    <div id="" class="graduation col-md-12 col-sm-12">
                                                                            <label for="edu-start">Year of graduation</label>
{#                                                                            <span class="input-group-addon"></span>#}
                                                                            <input type="text" id="edu-start" data-dd-theme="vanilla" data-lang="en" data-large-mode="true" data-min-year="1900" data-max-year="<script>var date = new Date; var year = date.getFullYear();document.write(year);</script>" data-disabled-days="08/17/2017,08/18/2017" data-id="datedropper-0" class="form-control" readonly="">
                                                                    </div>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-12">
                                                    <label>About you</label>
                                                    <textarea rows="10" class="form-control" placeholder="Write Something">{% lorem %}</textarea>
                                                </div>
                                                <div class="col-md-12 col-sm-12">
                                                    <h2 class="detail-title mrg-top-20">Experience</h2>
                                                    <div class="extra-field-box">
                                                        <div class="multi-box">
                                                            <div class="dublicat-box">
                                                                <div class="col-md-12 col-sm-12">
                                                                    <div id="employer" class="employer col-md-4 col-sm-12" >
                                                                        <label for="emplo">Company Employer Name</label>
                                                                        <input value="johndoe" type="text" class="form-control" placeholder="Employer's Name">
                                                                    </div>
                                                                    <div  id="employercompany" class=" employer col-md-4 col-sm-12" >
                                                                        <label for="emplocomp">Company Name</label>
                                                                        <input value="abc" id="emplocomp" type="text" class="form-control" placeholder="Employer's Company">
                                                                    </div>
                                                                    <div  class=" employer col-md-4 col-sm-12" >
                                                                        <label for="emplocompemail">Company email</label>
                                                                        <input value="abc.example.com" id="emplocompemail" type="email" class="form-control" placeholder="Employer's email">
                                                                    </div>

                                                                    <div class="col-md-6 col-sm-12" id="employercompany"  >
                                                                        <label for="emplocomp4n">Company Phone</label>
                                                                        <input value="0700000000" id="emplocomp4n" type="tel" class="form-control" placeholder="Employer's Phonenumber">
                                                                    </div>

                                                                    <div class="employer col-md-6 col-sm-12" >
                                                                        <label for="kke">Position Held</label>
                                                                        <input value="Web Designer" id="kke" type="text" class="form-control" placeholder="Position, e.g. Web Designer">
                                                                    </div>

                                                                    <div class="employer col-md-12 col-sm-12 row">

                                                                        <div class="col-md-6 col-sm-12" >
                                                                            <label for="exp-start" class="">Date From</label>
                                                                            <input type="text" id="exp-start" data-lang="en" data-dd-theme="vanilla" data-large-mode="true" data-min-year="1950" data-max-year="<script>var date = new Date; var year = date.getFullYear();document.write(year);</script>" data-disabled-days="08/17/2017,08/18/2017" data-id="datedropper-0"  class="form-control" readonly="">

                                                                        </div>

                                                                        <div class="employer col-md-6 col-sm-12">
                                                                            <label for="exp-end" class="">Date To</label>
                                                                            <input type="text" id="exp-end" data-lang="en" data-dd-theme="vanilla"  data-large-mode="true" data-min-year="2017" data-max-year="<script>var date = new Date; var year = date.getFullYear();document.write(year);</script>" data-disabled-days="08/17/2017,08/18/2017" data-id="datedropper-0"  class="form-control" readonly="">
                                                                        </div>
                                                                    </div>

                                                                    <div class="employer col-md-12 col-sm-12" >
                                                                        <label for="emplomsg">Notes on the Experience</label>
                                                                        <textarea id="emplomsg" class="form-control textarea" placeholder="Optional notes on the experience">{% lorem %}</textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12">
                                                   <h2 class="detail-title mrg-top-20">Skill</h2>
                                                   <div class="extra-field-box">
                                                        <div class="multi-box">
                                                            <div class="dublicat-box">
                                                                <div class="col-md-4 col-sm-12 ">
                                                                    <label for="skill">Skill</label>
                                                                    <input id="skill" value="Html" type="text" class="form-control" placeholder="Skills, e.g. Css, Html...">
                                                                </div>
                                                                <div class="col-md-4 col-sm-12 ">
                                                                    <label for="ref">Referee Name</label>
                                                                    <input id="ref" value="John Doe" type="text" class="form-control" placeholder="Referee Name">
                                                                </div>
                                                                <div class="col-md-4 col-sm-12 ">
                                                                    <label for="ref">Referee Phone Number</label>
                                                                    <input id="ref" value="070000000" type="text" class="form-control" placeholder="Referee Phone Number">
                                                                </div>

{#                                                                <div class="col-md-12 col-sm-12 " style="margin-bottom: 8px;">#}
{#                                                                    <div class="input-group"style="margin-bottom: 0px;">#}
{#                                                                        <label for="skillref">Referee</label>#}
{#                                                                        <textarea class="form-control textarea" placeholder="eg JohnDoe 07*********" name="skillreference[]" id="skillref" ></textarea>#}
                        {#											    <input type="text" class="form-control" placeholder="Skills, e.g. Css, Html...">#}
{#                                                                    </div>#}
{#                                                                    <small id="lastname" class="form-text text-muted">#}
{#                                                                      Your referee eg eg JohnDoe 07********* to support your statment.#}
{#                                                                    </small>#}
{#                    #}
{#                                                                </div>#}
                                                            </div>
                                                        </div>
                                                   </div>
                                                </div>
                                                <div class="col-sm-12 col-md-12">
                                                        <h2 class="detail-title mrg-top-20">Social Profile</h2>
                                                        <div class="col-md-12 col-sm-12">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fab fa-linkedin"></i></span>
                                                                <input value="http:\\www.linkdin.com" type="text" class="form-control" placeholder="Linkedin Link">
                                                            </div>

                                                        </div>
                                                </div>

                                                <div class="col-sm-12">
                                                    <button type="button" class="update-btn" style="border-radius: 140px;">Update Now</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Settings -->
                                </div>
                                <!-- Start All Sec -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Candidate Profile End -->
{% endblock content %}
{% block script %}
            <script>
                 $('#dob').dateDropper();
			</script>
            <script>
				$('#edu-start').dateDropper(

                );
			</script>
            <script>
				$('#exp-end').dateDropper();
			</script>
            <script>
				$('#exp-start').dateDropper(

                );

			</script>
{% endblock script %}