{% extends 'normal/layout/homelayout.html' %}
{% load static %}
{% block links %}

{% endblock links %}
{% block content %}

     <!-- Title Header Start -->
        <section class="inner-header-title" style="background-image:url({% static 'assets/img/banner-10.jpg' %});">
            <div class="container">
                <h1>Employer Profile</h1>
            </div>
        </section>
        <div class="clearfix"></div>
        <!-- Title Header End -->

        <!-- Candidate Profile Start -->
        <section class="detail-desc advance-detail-pr gray-bg">
            <div class="container">
                <div class="ur-detail-wrap create-kit padd-bot-0">

                    <div class="row">
                        <div class="detail-pic"><img src="{% static 'assets/img/avatar/avatar2.png' %}" class="img" alt="" />
                            <a href="#" class="detail-edit" title="edit"><i class="fa fa-user fa-spin"></i></a>
                        </div>
                        <div class="detail-status"><span>Active Now</span></div>
                    </div>

                    <div class="row bottom-mrg">
                        <div class="col-md-12 col-sm-12">
                            <div class="advance-detail detail-desc-caption">
                                <h4>Eugene Were</h4>
                                <span class="designation">CEO & Founder</span>
{#                                <ul>#}
{#                                    <li><strong class="j-view">742</strong>Job Post</li>#}
{#                                    <li><strong class="j-applied">570</strong>Job Like</li>#}
{#                                    <li><strong class="j-shared">210</strong>Job Shared</li>#}
{#                                </ul>#}
                            </div>
                        </div>
                    </div>

                    <div class="row no-padd">
                        <div class="detail pannel-footer">
                            <div class="col-md-5 col-sm-5">
                                <ul class="detail-footer-social">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                            <div class="col-md-7 col-sm-7">
                                <div class="detail-pannel-footer-btn pull-right">
                                    <a href="{% url 'LML:employerdetails' %}" data-toggle="tooltip"  class="footer-btn grn-btn" title="">View Details</a>
{#                                    <a href="#" class="footer-btn blu-btn" title="">Save Draft</a>#}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="full-detail-description full-detail gray-bg">
            <div class="container">
                <div class="col-md-12 col-sm-12">
                    <div class="full-card">
                      <div class="deatil-tab-employ tool-tab">
							<ul class="nav simple nav-tabs" id="simple-design-tab">
								<li class="active"><a href="#about">About</a></li>
								<li><a href="#address">Company Info</a></li>
{#								<li><a href="#post-job">Job Posted</a></li>#}
								<li><a href="#friends">Similar Companies</a></li>
{#								<li><a href="#messages">Messages <span class="info-bar">6</span></a></li>#}
								<li><a href="#settings">Settings</a></li>
							</ul>
							<!-- Start All Sec -->
							<div class="tab-content">
								<!-- Start About Sec -->
								<div id="about" class="tab-pane fade in active">
									<h3>About ABC Company</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum sed diam ac fermentum. Mauris nec pellentesque neque. Cras nec diam euismod, congue sapien eu, fermentum libero. Vestibulum quis sem.</p>
								</div>
								<!-- End About Sec -->

								<!-- Start Address Sec -->
								<div id="address" class="tab-pane fade">
									<h3>Company Info</h3>
									<ul class="job-detail-des">
										<li><span>County:</span> Nairobi</li>
										<li><span>Region:</span> Juja</li>
										<li><span>Landmark:</span> Uchumi</li>
										<li><span>Email:</span> example@example.com</li>
										<li><span>Website:</span> www.abc.co.ke</li>

									</ul>
								</div>
								<!-- End Address Sec -->

								<!-- Start Friend List -->
								<div id="friends" class="tab-pane fade">
									<div class="row">
										<div class="col-md-4 col-sm-4">
							<div class="grid-view brows-job-list">
								<div class="brows-job-company-img">
									<img src="../../static/assets/img/com-2.jpg" class="img-responsive" alt="" />
								</div>
								<div class="brows-job-position">
									<h3><a href="job-detail.html">Web Developer</a></h3>
									<p><span>Google</span></p>
								</div>
								<div class="job-position">
									<span class="job-num">5 Position</span>
								</div>
								<div class="brows-job-type">
									<span class="part-time">Part Time</span>
								</div>
								<ul class="grid-view-caption">
									<li>
										<div class="brows-job-location">
											<p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
										</div>
									</li>
									<li>
										<p><span class="brows-job-sallery"><i class="fa fa-money"></i>$110 - 200</span></p>
									</li>
								</ul>
							</div>
						</div>
										<div class="col-md-4 col-sm-4">
                                            <div class="grid-view brows-job-list">
                                                <div class="brows-job-company-img">
                                                    <img src="../../static/assets/img/com-2.jpg" class="img-responsive" alt="" />
                                                </div>
                                                <div class="brows-job-position">
                                                    <h3><a href="job-detail.html">Web Developer</a></h3>
                                                    <p><span>Google</span></p>
                                                </div>
                                                <div class="job-position">
                                                    <span class="job-num">5 Position</span>
                                                </div>
                                                <div class="brows-job-type">
                                                    <span class="part-time">Part Time</span>
                                                </div>
                                                <ul class="grid-view-caption">
                                                    <li>
                                                        <div class="brows-job-location">
                                                            <p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <p><span class="brows-job-sallery"><i class="fa fa-money"></i>$110 - 200</span></p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="grid-view brows-job-list">
                                                <div class="brows-job-company-img">
                                                    <img src="../../static/assets/img/com-2.jpg" class="img-responsive" alt="" />
                                                </div>
                                                <div class="brows-job-position">
                                                    <h3><a href="job-detail.html">Web Developer</a></h3>
                                                    <p><span>Google</span></p>
                                                </div>
                                                <div class="job-position">
                                                    <span class="job-num">5 Position</span>
                                                </div>
                                                <div class="brows-job-type">
                                                    <span class="part-time">Part Time</span>
                                                </div>
                                                <ul class="grid-view-caption">
                                                    <li>
                                                        <div class="brows-job-location">
                                                            <p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <p><span class="brows-job-sallery"><i class="fa fa-money"></i>$110 - 200</span></p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="grid-view brows-job-list">
                                                <div class="brows-job-company-img">
                                                    <img src="../../static/assets/img/com-2.jpg" class="img-responsive" alt="" />
                                                </div>
                                                <div class="brows-job-position">
                                                    <h3><a href="job-detail.html">Web Developer</a></h3>
                                                    <p><span>Google</span></p>
                                                </div>
                                                <div class="job-position">
                                                    <span class="job-num">5 Position</span>
                                                </div>
                                                <div class="brows-job-type">
                                                    <span class="part-time">Part Time</span>
                                                </div>
                                                <ul class="grid-view-caption">
                                                    <li>
                                                        <div class="brows-job-location">
                                                            <p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <p><span class="brows-job-sallery"><i class="fa fa-money"></i>$110 - 200</span></p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="grid-view brows-job-list">
                                                <div class="brows-job-company-img">
                                                    <img src="../../static/assets/img/com-2.jpg" class="img-responsive" alt="" />
                                                </div>
                                                <div class="brows-job-position">
                                                    <h3><a href="job-detail.html">Web Developer</a></h3>
                                                    <p><span>Google</span></p>
                                                </div>
                                                <div class="job-position">
                                                    <span class="job-num">5 Position</span>
                                                </div>
                                                <div class="brows-job-type">
                                                    <span class="part-time">Part Time</span>
                                                </div>
                                                <ul class="grid-view-caption">
                                                    <li>
                                                        <div class="brows-job-location">
                                                            <p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <p><span class="brows-job-sallery"><i class="fa fa-money"></i>$110 - 200</span></p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="grid-view brows-job-list">
                                                <div class="brows-job-company-img">
                                                    <img src="../../static/assets/img/com-2.jpg" class="img-responsive" alt="" />
                                                </div>
                                                <div class="brows-job-position">
                                                    <h3><a href="job-detail.html">Web Developer</a></h3>
                                                    <p><span>Google</span></p>
                                                </div>
                                                <div class="job-position">
                                                    <span class="job-num">5 Position</span>
                                                </div>
                                                <div class="brows-job-type">
                                                    <span class="part-time">Part Time</span>
                                                </div>
                                                <ul class="grid-view-caption">
                                                    <li>
                                                        <div class="brows-job-location">
                                                            <p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <p><span class="brows-job-sallery"><i class="fa fa-money"></i>$110 - 200</span></p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="grid-view brows-job-list">
                                                <div class="brows-job-company-img">
                                                    <img src="../../static/assets/img/com-2.jpg" class="img-responsive" alt="" />
                                                </div>
                                                <div class="brows-job-position">
                                                    <h3><a href="job-detail.html">Web Developer</a></h3>
                                                    <p><span>Google</span></p>
                                                </div>
                                                <div class="job-position">
                                                    <span class="job-num">5 Position</span>
                                                </div>
                                                <div class="brows-job-type">
                                                    <span class="part-time">Part Time</span>
                                                </div>
                                                <ul class="grid-view-caption">
                                                    <li>
                                                        <div class="brows-job-location">
                                                            <p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <p><span class="brows-job-sallery"><i class="fa fa-money"></i>$110 - 200</span></p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="grid-view brows-job-list">
                                                <div class="brows-job-company-img">
                                                    <img src="../../static/assets/img/com-2.jpg" class="img-responsive" alt="" />
                                                </div>
                                                <div class="brows-job-position">
                                                    <h3><a href="job-detail.html">Web Developer</a></h3>
                                                    <p><span>Google</span></p>
                                                </div>
                                                <div class="job-position">
                                                    <span class="job-num">5 Position</span>
                                                </div>
                                                <div class="brows-job-type">
                                                    <span class="part-time">Part Time</span>
                                                </div>
                                                <ul class="grid-view-caption">
                                                    <li>
                                                        <div class="brows-job-location">
                                                            <p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <p><span class="brows-job-sallery"><i class="fa fa-money"></i>$110 - 200</span></p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="grid-view brows-job-list">
                                                <div class="brows-job-company-img">
                                                    <img src="../../static/assets/img/com-2.jpg" class="img-responsive" alt="" />
                                                </div>
                                                <div class="brows-job-position">
                                                    <h3><a href="job-detail.html">Web Developer</a></h3>
                                                    <p><span>Google</span></p>
                                                </div>
                                                <div class="job-position">
                                                    <span class="job-num">5 Position</span>
                                                </div>
                                                <div class="brows-job-type">
                                                    <span class="part-time">Part Time</span>
                                                </div>
                                                <ul class="grid-view-caption">
                                                    <li>
                                                        <div class="brows-job-location">
                                                            <p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <p><span class="brows-job-sallery"><i class="fa fa-money"></i>$110 - 200</span></p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="grid-view brows-job-list">
                                                <div class="brows-job-company-img">
                                                    <img src="../../static/assets/img/com-2.jpg" class="img-responsive" alt="" />
                                                </div>
                                                <div class="brows-job-position">
                                                    <h3><a href="job-detail.html">Web Developer</a></h3>
                                                    <p><span>Google</span></p>
                                                </div>
                                                <div class="job-position">
                                                    <span class="job-num">5 Position</span>
                                                </div>
                                                <div class="brows-job-type">
                                                    <span class="part-time">Part Time</span>
                                                </div>
                                                <ul class="grid-view-caption">
                                                    <li>
                                                        <div class="brows-job-location">
                                                            <p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <p><span class="brows-job-sallery"><i class="fa fa-money"></i>$110 - 200</span></p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="grid-view brows-job-list">
                                                <div class="brows-job-company-img">
                                                    <img src="../../static/assets/img/com-2.jpg" class="img-responsive" alt="" />
                                                </div>
                                                <div class="brows-job-position">
                                                    <h3><a href="job-detail.html">Web Developer</a></h3>
                                                    <p><span>Google</span></p>
                                                </div>
                                                <div class="job-position">
                                                    <span class="job-num">5 Position</span>
                                                </div>
                                                <div class="brows-job-type">
                                                    <span class="part-time">Part Time</span>
                                                </div>
                                                <ul class="grid-view-caption">
                                                    <li>
                                                        <div class="brows-job-location">
                                                            <p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <p><span class="brows-job-sallery"><i class="fa fa-money"></i>$110 - 200</span></p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="grid-view brows-job-list">
                                                <div class="brows-job-company-img">
                                                    <img src="../../static/assets/img/com-2.jpg" class="img-responsive" alt="" />
                                                </div>
                                                <div class="brows-job-position">
                                                    <h3><a href="job-detail.html">Web Developer</a></h3>
                                                    <p><span>Google</span></p>
                                                </div>
                                                <div class="job-position">
                                                    <span class="job-num">5 Position</span>
                                                </div>
                                                <div class="brows-job-type">
                                                    <span class="part-time">Part Time</span>
                                                </div>
                                                <ul class="grid-view-caption">
                                                    <li>
                                                        <div class="brows-job-location">
                                                            <p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <p><span class="brows-job-sallery"><i class="fa fa-money"></i>$110 - 200</span></p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="grid-view brows-job-list">
                                                <div class="brows-job-company-img">
                                                    <img src="../../static/assets/img/com-2.jpg" class="img-responsive" alt="" />
                                                </div>
                                                <div class="brows-job-position">
                                                    <h3><a href="job-detail.html">Web Developer</a></h3>
                                                    <p><span>Google</span></p>
                                                </div>
                                                <div class="job-position">
                                                    <span class="job-num">5 Position</span>
                                                </div>
                                                <div class="brows-job-type">
                                                    <span class="part-time">Part Time</span>
                                                </div>
                                                <ul class="grid-view-caption">
                                                    <li>
                                                        <div class="brows-job-location">
                                                            <p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <p><span class="brows-job-sallery"><i class="fa fa-money"></i>$110 - 200</span></p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <ul class="pagination">
                                            <li><a href="#">«</a></li>
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#"><i class="fa fa-ellipsis-h"></i></a></li>
                                            <li><a href="#">»</a></li>
                                        </ul>
                                    </div>

								</div>
								<!-- End Friend List -->

								<!-- Start Settings -->
								<div id="settings" class="tab-pane fade">
									<div class="row no-mrg">
										<h3 class="">Edit Profile</h3>
										<div class="edit-pro">
                                            <div class="row col-sm-12 col-md-12 mrg-top-20">
                                                <div class="detail-pic js">
                                                    <div class="box companybox">
                                                        <input required style="position: relative;" onchange="readURL(this)" type="file" name="upload-pic" id="upload-pic" class="inputfile" />
                                                        <label  for="upload-pic"><i class="fa fa-picture-o" aria-hidden="true"></i><span style="margin-left:15px; color: white; text-align: center;">Upload Your Logo</span></label>
                                                        <img class="blah" id="blah" style="position: absolute;top: 0; left: 0; bottom: 0; right: 0; visibility:hidden;width: 167px; height: 174px" src="{% static 'assets/img/client-1.jpg' %}" alt="">
                                                    </div>
                                                    <div id="disclaimer" class="disclaimer disclaimer-animated ">
                                                        Upload Logo
                                                    </div>
                                                </div>
                                            </div>
											<div class="col-md-4 col-sm-6">
												<label>Ceo First Name</label>
												<input type="text" class="form-control" placeholder="Matthew">
											</div>
											<div class="col-md-4 col-sm-6">
												<label>Ceo Last Name</label>
												<input type="text" class="form-control" placeholder="Dana">
											</div>
                                            <div class="col-md-4 col-sm-6">
												<label>Company Name</label>
												<input type="text" class="form-control" placeholder="Else">
											</div>
											<div class="col-md-4 col-sm-6">
												<label>Company Email</label>
												<input type="email" class="form-control" placeholder="dana.mathew@gmail.com">
											</div>
											<div class="col-md-4 col-sm-6">
												<label>Company Phone</label>
												<input type="text" class="form-control" placeholder="+91 258 475 6859">
											</div>
                                            <div class="col-md-4 col-sm-6">
                                                <label>Company Category</label>
                                                <select id="choose-category" class="form-control input-lg">
                                                    <option disabled>Company Categories</option>
                                                    <option selected >Software</option>
                                                    <option>Hardware</option>
                                                    <option>Machanical</option>
                                                    <option>HR/Manager</option>
                                                </select>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <label>Business Entity</label>
                                               <select id="choose-entity" class="form-control input-lg ">
                                                    <option disabled>Type of Business Entity</option>
                                                    <option>Limited Liability Company</option>
                                                    <option>Partnership</option>
                                                    <option selected >Corporation</option>
                                                    <option>Proprietorship</option>
                                                    <option>Trust</option>
                                                    <option>other</option>
                                                </select>
                                            </div>


											<div class="col-md-4 col-sm-6">
                                                <label>Date Created</label>
												<div class="input-group">
                                                    <span class="input-group-addon orangebg font-12"> Date Created</span>
                                                   <input style="margin-bottom:0" data-dd-theme="vanilla" placeholder="Company Start Date" type="text" id="dob" data-lang="en" data-large-mode="true" data-min-year="1900" data-max-year="<script>var date = new Date; var year = date.getFullYear();document.write(year);</script>" data-disabled-days="08/17/2017,08/18/2017" data-id="datedropper-0"  class="form-control" readonly="">
                                                </div>
											</div>
											<div class="col-md-4 col-sm-6">
												<label>Website</label>
												<input type="text" class="form-control" placeholder="www.abc.co.ke">
											</div>
											<div class="col-md-4 col-sm-6">
												<label>KRA pin</label>
												<input type="text" class="form-control" placeholder="KKH244">
											</div>
											<div class="col-md-4 col-sm-6">
												<label>Business No</label>
												<input type="text" class="form-control" placeholder="HKK9123">
											</div>
											<div class="col-md-4 col-sm-6">
												<label>County</label>
												 <select id="choose-city" class="form-control input-lg">
                                                    <option selected>County</option>
                                                    <option selected value="Nairobi">NAirobi</option>
                                                    <option value="Nairobi">NAirobi</option>
                                                    <option value="Nairobi">NAirobi</option>
                                                    <option>NAirobi</option>
                                                    <option>NAirobi</option>
                                                    <option>NAirobi</option>
                                                    <option>NAirobi</option>
                                                    <option>NAirobi</option>
                                                    <option>NAirobi</option>
                                                </select>
                                            </div>
											</div>
											<div class="col-md-4 col-sm-6">
												<label>Region</label>
												<select id="choose-region" class="form-control input-lg">
                                                    <option disabled >Region</option>
                                                    <option selected>Langata</option>
                                                    <option>Langata</option>
                                                    <option>Langata</option>
                                                    <option>Langata</option>
                                                    <option>Langata</option>
                                                    <option>Langata</option>
                                                </select>
											</div>
											<div class="col-md-12 col-sm-12">
												<label>Landmark</label>
												<input type="text" class="form-control" placeholder="Near Uchumi">
											</div>
											<div class="col-md-4 col-sm-6">
                                                <label>Facebook</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fab fa-facebook-f"></i></span>
                                                    <input type="text" class="form-control" placeholder="Facebook Link">
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-6">
                                                <label>Google+</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fab fa-google-plus"></i></span>
                                                    <input type="text" class="form-control" placeholder="Google+ Link">
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-6">
                                                <label>Twitter</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fab fa-twitter"></i></span>
                                                    <input type="text" class="form-control" placeholder="Twitter Link">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6">
                                                <label>Instagram</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fab fa-instagram"></i></span>
                                                    <input type="text" class="form-control" placeholder="Instagram Link">
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-6">
                                                <label>Linkedin</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fab fa-linkedin"></i></span>
                                                    <input type="text" class="form-control" placeholder="Linkedin Link">
                                                </div>
                                            </div>
											<div class="col-md-12 col-sm-12">
												<label>Brief Description</label>
												<textarea name="aboutcompany" class="form-control" placeholder="Write Something"></textarea>
											</div>

											<div class="col-sm-12">
												<button type="button" class="update-btn">Save</button>
											</div>
										</div>
									</div>
								</div>
								<!-- End Settings -->
							</div>
							<!-- Start All Sec -->
						</div>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}
{% block script %}
    <script>
         CKEDITOR.replace( 'aboutcompany',{
              removePlugins: [  'Image', ],
         } );
    </script>
{% endblock script %}